.p2pu-person {
    height: 295px;
    line-height: 1.5;
    margin-bottom: 1.2em;
}

.people-img {
    max-width: 150px;
    margin-left: 1em;
}

.philosophy-list-title {
    font-size: large;
    padding: 0;
    font-family: 'Arvo';
    text-transform: uppercase;
    padding-top: 3px;
    text-align: right;
    padding-right: 5px;
}
