---
layout: base
title: About P2PU
---
<head>
	<style>
		page-header: {background-color:#fdbc1f;}	
	</style>	
</head>

<div class="post">

  <header class="page-header">
    <h1>Our Values</h1>
  </header>

<div class="container" id="philosophy">
<h4> P2PU (Peer 2 Peer University) is driven by three core values.</h4>
	<div class="row">
		<div class="col-md-4 ">
			<h2>Peer learning <i class="fa fa-star fa-2x pull-right"></i></h2>
			<br>
			<p>
			Underlying all our work is the understanding that learning is a social activity. 
			We believe that everybody is an expert in something, that sharing and connecting 
			is how we learn best, and that feedback is necessary in order to improve. 
			</p>
		</div>

		<div class="col-md-4">
			<h2>Community <i class="fa fa-share-alt fa-flip-horizontal fa-2x pull-right"></i></h2>
			<br>
			<p>
			P2PU began as a community-centered project, which is reflected across our organization through 
			our volunteer network and governance model. By involving learners and collaborators in all 
			stages of the design and delivery of our work, we foster networks of learners and facilitators, 
			and contribute to the crucial role that informal learning plays in local communities. 
			</p>
		</div>

		<div class="col-md-4">
			<h2>Openness <i class="fa fa-volume-up fa-flip-horizontal fa-2x pull-right"></i></h2>
			<br>
			<p>
			Openness enables participation, replication, and accountability. We strive to use openly-licensed 
			learning materials and always share our methodology and resources openly, so that as many people as 
			possible can take leverage our work.
			</p>
		</div>
		<br>
	</div>

<header class="page-header">
  <h1>Our Work</h1>
</header>

<div class="container">
	<div class="row">

		<h4>
			Here's a taste of some other things we've been working on.
		</h4>
		{% for project in site.data.projects.past | sort:'date' reversed %}
			{% assign multi_three=forloop.index0|modulo:3  %}
			{% if multi_three == 0 %}<div class="row">{% endif %}
			<div class="p2pu-project col-xs-8 col-md-4">
				<a class="thumbnail" href="{{ project.url }}" target="_blank">
					<aside class="thumbnail-side">{{ project.title }}</aside>
					<img class="project-img" src=
						{% if project.image %}
							"{{ "/assets/images/projects/" |append: project.image |prepend: site.baseurl }}"
						{% else %}
							"{{ "/assets/images/projects/default_project.jpg" |prepend: site.baseurl }}"
						{% endif %} alt="{{ project.name }} Image">
					<div class="cotent-wrap">
						<p>{{ project.short-description }}</p>
					</div>
				</a>
			</div>
			{% if multi_three == 2 %}</div>{% endif %}
		{% endfor %}
	</div>
</div>

<header class="page-header">
  <h1>Our People</h1>
</header>

<div class="container" id="people">
	<h4>Our Staff</h4>

	<div class="tiles">
		{% for person in site.data.people.staff %}
			{% assign multi_three=forloop.index0|modulo:3 %}
			{% if multi_three == 0 %}
				<div class="row">{% endif %}
          {% include person.html %}
			{% if multi_three == 2 or forloop.last %}</div>{% endif %}
		{% endfor %}
	</div>
	<hr />

	<h4>Our Board</h4>
	<div class="tiles">
		{% for person in site.data.people.board %}
			{% assign multi_three=forloop.index0|modulo:3 %}
			{% if multi_three == 0 %}
				<div class="row">{% endif %}
          {% include person.html %}
			{% if multi_three == 2 or forloop.last %}</div>{% endif %}
		{% endfor %}
	</div>
	<hr />

  <h4><a href="{{site.baseurl}}/en/about/people/">Our Extended Family</a></h4>

	</div>
</div>



<section class="featured-work">
		<div class="container">
			<h4>Our work has been featured in:</h4>

			<div class="inner">

					<a href="http://chronicle.com/article/In-This-Online-University/132307/" target="_blank">
						<img src="{{ site.baseurl }}/assets/images/projects/featured/chronicle-logo.png"
					     alt="Creative Commons Logo" width="150" class="col-md-3">
					</a>

					<a href="http://www.nytimes.com/2010/04/18/education/edlife/18open-t.html?pagewanted=all&_r=0"
					   target="_blank">
						<img src="{{ site.baseurl }}/assets/images/projects/featured/nyt-logo.png" alt="New
					York Times Logo" width="150" class="col-md-3">
					</a>

					<a href="http://www.wired.co.uk/magazine/archive/2013/12/features/the-smart-list-2013" target="_blank">
						<img src="{{ site.baseurl }}/assets/images/projects/featured/wired-logo.png" alt="Wired
					 Magazine Logo" width="150" class="col-md-3">
					</a>

					<a href="http://lifehacker.com/this-free-course-in-music-engineering-is-back-with-more-1574062465" target="_blank">
						<img src="{{ site.baseurl }}/assets/images/projects/featured/lh-logo.png" alt="Lifehacker
					Logo" width="150" class="col-md-3">
					</a>

			</div>
		</div>
	</section>

