---
bundles:
 - landing-view
---
<!DOCTYPE html>{% include lang.html %}
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

<head>
	{% include tag_manager_head.html %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<link rel="canonical"
	      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!-- Leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />

  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ "/assets/css/p2pu-index.css" | prepend: site.baseurl }}">
	<link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

	<script src="{{ "/assets/js/vendor/smooth-scroll.min.js" | prepend: site.baseurl }}"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>


{% include nav.html %}

<main class="page-content">
	<section id="landing">
		<div class="header-text">
			<div id="header-text-carousel">
				<h1 className="bold centered">Master public speaking <br> in your neighbourhood, for free.</h1>
			</div>
			<a data-scroll href="#learning-circles">
				<button class="btn p2pu-btn dark">Learn more</button>
			</a>
		</div>

		<div class="image-container">
			<div class="lines">
				<div class="bg-line blue"></div>
				<div class="bg-line green"></div>
				<div class="bg-line yellow"></div>
				<div class="bg-line orange"></div>
			</div>
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/bQqmIS7WQa8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</section>

	<section id="learning-circles">
		<div class="container">
			<div class="header-text">
				<h1 class="bold centered">Learning circles are free study groups for people who want to take online classes together and in-person.</h1>
			</div>

			<div class="overview">
				<div class="container">
					<div id="stats"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="map-section">
	  <div class="container">
	    <div id="global-map"></div>
	  </div>
	</section>

	<section id="join" class="bg-secondary py-5 cta-section">
		<div class="container">
			<h2>Find a learning circle near you</h2>

	  	<div class="row">
	      <div class="col-12 col-md-6" data-aos="fade-up">
					<p class="large my-5">Learning circles generally meet for 2 hours a week for 6-8 weeks. See what’s currently happening around the world.</p>
			  </div>
		  </div>


			<div class="row justify-content-end">
			  <div class="col-12 col-md-6" data-aos="fade-up" data-aos-offset="300">
		      <div class="meetings-section">
		      	<h4>Upcoming meetings</h4>
		        <div id="preview"></div>
		      </div>
				</div>
			</div>

			<div class="row">
	      <div class="col-12 col-md-6" data-aos="fade-up" data-aos-offset="300">
			    <div class="p2pu-slide-container">
						{% for testimonial in site.data.testimonials.learners %}
							{% include testimonial.html testimonial=testimonial %}
						{% endfor %}
					</div>
			  </div>
		  </div>

			<div class="row">
				<div class="col-12" data-aos="fade-in">
					<div class="cta-button text-center">
						<a href="/en/learning-circles/" class="btn p2pu-btn blue">Explore learning circles</a>
						<div class="line"></div>
					</div>
				</div>
		  </div>

	  </div>
	</section>


	<section id="facilitate" class="bg-white py-5">
		<div class="container">
	  	<div class="row">
			  <div class="col-12 col-md-6">
			    <div class="p2pu-slide-container">
						{% for testimonial in site.data.testimonials.facilitators %}
							{% include testimonial.html testimonial=testimonial %}
						{% endfor %}
					</div>
			  </div>

	      <div class="col-12 col-md-6" data-aos="fade-up">
					<h2 className="bold">Anybody can create their own learning circle</h2>
					<p class="large my-4">We maintain software tools, facilitation resources, and a global community forum to help you succeed.</p>
					<a href="/en/facilitate/" class="btn p2pu-btn blue">Facilitate</a>
			  </div>

		  </div>
	  </div>
	</section>


	<section id="organize" class="bg-secondary py-5">
		<div class="container">
	  	<div class="row">
	      <div class="col-12 col-md-6" data-aos="fade-up">
					<h2 className="bold">Organize your learning circles into teams</h2>
					<p class="large my-4">Around the world, facilitators are organizing themselves into regional learning circle networks supported by P2PU. You don’t need to facilitate learning circles in order to organize a team.</p>
					<a href="/en/organize/" class="btn p2pu-btn blue">Organize</a>
			  </div>

			  <div class="col-12 col-md-6">
			    <div class="p2pu-slide-container">
						{% for testimonial in site.data.testimonials.organizers %}
							{% include testimonial.html testimonial=testimonial %}
						{% endfor %}
					</div>
			  </div>
		  </div>
	  </div>
	</section>


	<section id="about" class="background-blue py-5">
		<div class="container">
	  	<div class="row">
			  <div class="col-12 col-md-6">
			    <div class="p2pu-slide-container">
						{% for testimonial in site.data.testimonials.grantmakers %}
							{% include testimonial.html testimonial=testimonial %}
						{% endfor %}
					</div>
			  </div>

	      <div class="col-12 col-md-6" data-aos="fade-up">
					<h2 className="bold">Learning doesn’t have to end at school</h2>
					<p class="large my-4">We offer a variety of services beyond our free facilitation tools to help you develop equitable, social learning experiences in your community.</p>
					<a href="/en/work-with-us/" class="btn p2pu-btn light">Work with us</a>
			  </div>

		  </div>
	  </div>
	</section>

	<section id="community" data-aos="fade-up">
		<div class="container">
			<h2 className="bold">Community</h2>
			<p class="large my-4">We offer a variety of services beyond our free facilitation tools to help you develop equitable, social learning experiences in your community.</p>
			<div id="discourse-community"></div>
			<a href="https://community.p2pu.org/" class="btn p2pu-btn blue">Go to the community forum</a>
		</div>
	</section>


</main>

{% include footer.html %}

{% include scripts.html %}

<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/vendor/scroll-magic.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/index.js"></script>

<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>
<script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

{% include map_js.html %}

{% include ga.html %}

</body>

{% include tag_manager_foot.html %}

</html>
