---
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<link rel="canonical"
	      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ "/assets/css/p2pu-index.css" | prepend: site.baseurl }}">
	<link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">

	<script src="{{ "/assets/js/vendor/modernizr-2.6.2.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>

<section class="splash" data-spy="affix" data-offset-top="600">
	<div class="background"></div>
	<nav class="navbar" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-toggle" data-toggle="collapse"
				   data-target="#nav-links-collapse">
					<i class="fa fa-bars"></i> </a>
				<a class="navbar-logo pull-left" href="{{ site.baseurl }}/en/">
					<img src="{{ "/assets/images/p2pu-logo-2x.png" | prepend: site.baseurl }}"
					alt="P2PU Logo" width="122" class="color hidden" />
					<img src="{{ "/assets/images/p2pu-logo-2x-white.png" | prepend: site.baseurl }}"
					alt="P2PU Logo" width="122" class="white" />
				</a>
				<!--a class="p2pu-tab" href="#">
					<i class="fa fa-chevron-down p2pu-tab-icon"></i>
				</a-->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="nav-links-collapse">

				<ul class="nav navbar-nav navbar-right">
					{% for link in site.data.navigation.en %}
						<li class="{{ active }}{% if link.submenu %} dropdown has-subnav{% endif %}">
              {% assign urlstart=link.url|split:"/"|first %}
							{% if urlstart contains "http" %}
              <a href="{{ link.url }}">
              {% else %}
							<a href="{{ site.baseurl }}{{ link.url }}">
              {% endif %}
								{{ link.text }}
							</a>
							{% if link.submenu %}
								<span class="fa fa-caret-down dropdown-toggle visible-xs-block visible-sm-block"
								      data-toggle="dropdown"></span>
								<ul class="dropdown-menu nav navbar-nav subnav" role="menu">
									{% for sublink in link.submenu %}
										<li {% if page.url contains sublink.url %}class="active"{% endif %}>
											{% if sublink.url contains 'http://' or sublink.url contains '#' %}
												<a href="{{ sublink.url }}"
												   {% if sublink.url contains 'http://' %}target="_blank"{% endif %}>
													{{ sublink.text }}
												</a>
											{% else %}
												<a href="{{ site.baseurl }}{{ sublink.url }}">
													{{ sublink.text }}
												</a>
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div>
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="banner-graphic col-md-5 col-sm-4 col-xs-12">

					</div>
					<div class="actions col-md-7">
						<header>
							ONLINE COURSES, OFFLINE.
						</header>
						<p class="subheader">Introducing Learning Circles</p>

					<p class="text-center">

						<a class="btn btn-lg btn-subcta" href="https://learningcircles.p2pu.org/en/">Go to the Learning Circle homepage</a>
						<!--<a class="btn btn-lg btn-subcta" href="#more-info">Read more</a>-->
					</p>
					</div>
				</div>
			</div>
			
		</div>

	</div>

</section>

<section class="page-content">
	<section>
		<div class="container" name="more-info">
			<h3>Learning Circles are peer-led study groups for learners who want to take online courses together and in-person.</h3>
			<h3>Learning Circles are:</h3>
			<br>
			
			<div class="row feature left">
				<div class="image col-md-6" target="_blank"> <img
					src="{{site.baseurl}}/assets/images/index/free_nolabel.jpg"
					alt="Free image">
        			</div>

				<div class="content col-md-6">
					<h3>Social</h3>
					<p>
						Learning Circles provide a social wrapper for online learning, supported by a designated 
						facilitator (who could be you!). Far more than just delivering content, Learning Circles support 
						the development of interpersonal skills and provide a space for participants to meaningfully 
						engage with online educational resources and with their peers. 
					</p>
				</div>
			</div>
			
			<div class="row feature right">
				<div class="image col-md-6"> <img
						src="{{site.baseurl}}/assets/images/index/social_nolabel.jpg"
						alt="Community support image"> 
				</div>

				<div class="content col-md-6">
					<h3>Local</h3>
					<p>
						Delivered locally, Learning Circles bring online learning down to Earth. By identifying 
						courses and subject matter relevant to specific communities and marketing through 
						offline channels, Learning Circles engage individuals who wouldn’t otherwise benefit from online 
						education and transform physical spaces into community learning hubs. 
					</p>
				</div>
			</div>
			
			<div class="row feature left">
				<div class="image col-md-6">
          				<img src="{{ site.baseurl }}/assets/images/index/local_nolabel.jpg"
					alt="Reports image">
        			</div>

				<div class="content">
					<h3>Proven</h3>
					<p>
						Our 2015 pilot in the Chicago Public Library network demonstrated 10x the retention of traditional MOOCs, 
						reached entirely new audiences of first-time online learners, and fostered an environment that learners, 
						facilitators, and host institutions are eager to repeat.
					</p>
				</div>
			</div>
			
			<div class="row feature right">
				<div class="image col-md-6">
          				<img src="{{ site.baseurl }}/assets/images/index/proven_nolabel.jpg"
					alt="Community support image"> 
        			</div>

				<div class="content col-md-6">
					<h3>Free</h3>
					<p>
						Built on open source technology and utilizing free online educational resources such as MOOCs, Learning 
						Circles connect individuals directly to high-quality learning experiences, for free.
						<a href="http://learningcircles.p2pu.org/courses">Check out</a> a selection of courses we've used
						in the past.
					</p>
				</div>
			</div>
			
			<div class="row feature left">
				<div class="image col-md-6">
        				 <img src="{{ site.baseurl }}/assets/images/index/yours_nolabel.jpg"
					alt="Reports image">
        			</div>

				<div class="content">
					<h3>Yours</h3>
					<p>
						We believe that anybody can run a Learning Circle, and so we have developed a number of tools to get you started. These tools include a Learning Circle webpage generator, an online facilitator dashboard to interface with learners, 
						a curated course list, and a facilitator handbook that includes 40 pages of great tips, tricks, checklists and templates to help you 
						advertise, prepare for, and run your Learning Circle. 
					</p>
					<!--<a class="people-link fa-long-arrow-right" href="https://www.p2pu.org/en/facilitate/"> 
					Take me to the guide!</a>-->
				</div>
			</div>	
		</div>
	</section>
	
	<section class="explore">
            	<h2>Interested?</h2>
            		<p>Check out the <a href="https://learningcircles.p2pu.org/en/">Learning Circle homepage</a> and create your own Learning Circle.</p>
        </section>
	
	<section class="who">
		<div class="container">
			<div class="col-md-8">
				<h3>Who are we?</h3>
				<h4>A passionate and powerful team of colleagues and volunteers.</h4>
				<p>
					Our small and dedicated team is based in North America, Africa, and Europe. We work closely with the global P2PU community
					to deliver our programs and redefine higher education, both online and offline. Sound good? Then we'd love to meet you.
				</p>
					<a class="people-link fa-long-arrow-right" href="#" data-toggle="modal" data-target="#signup-modal"> 
					Join our mailing list</a>
			
				<h3>Work with us.</h3>
				<h4>No project is too big or too small.</h4>
				<p>	
					Want help integrating Learning Circles into your organization? P2PU consults for organizations 
					looking to get started. Our services include: facilitator workshops, 
					course development, custom program design, ongoing facilitator support, web hosting, and 
					software integration.
				</p>	
					<a class="people-link fa-long-arrow-right" href="mailto:thepeople@p2pu.org?Subject=Hi%20there!"> 
					Get in touch</a>
				
				

			</div>
	  </div>
	</section>

	<section>
		<div class="container">
      <div class="partners col-md-9">
				<h4>Our collaborators and clients include:</h4>
				<div class="partners-inner">
					{% for partner in site.data.partners %}
						<img
                src="{{ site.baseurl }}{{ partner.image }}"
								alt="{{ partner.name }} Logo" width="110"/>
					{% endfor %}
				</div>
      </div>
      <div class="partners col-md-3">
				<h4>Our funders include:</h4>
				<div class="partners-inner">
					{% for partner in site.data.funders %}
						<img
                src="{{ site.baseurl }}{{ partner.image }}"
								alt="{{ partner.name }} Logo" width="110"/>
					{% endfor %}
				</div>
      </div>
    </div>
	</section>

</section>

<!-- Modal -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Sign up</h4>
			</div>
			<div class="modal-body">
        {% include mailing-list.html %}
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>


{% include footer-en.html %}

{% include scripts.html %}

{% include ga.html %}

</body>
</html>
