---
layout: base
title: Work With Us
extra_css:
  - /assets/css/p2pu-workwithus.css
extra_js:
  - js/accordion.js
---

<div class="post">

  <header class="page-header">
    <h1>Work With Us</h1>
  </header>

  <article class="container" data-aos="fade-up">
  	<i>
	  	<p>P2PU offers a number of services designed to support thriving learning circle communities. Your financial contribution to our organization allows us to keep the learning circle toolkit and community <strong>free and open source forever</strong>.</p>

			<p>You can also support our work by making a <a href="https://www.p2pu.org/en/donate/">tax-exempt donation</a> or <a href="http://shop.spreadshirt.com/p2pu/">purchasing some P2PU gear</a>.</p>

			<p>All services are priced on a sliding scale, and we are available to help write these services into grant proposals. Reach out to <a href="mailto:thepeople@p2pu.org">thepeople@p2pu.org</a> with inquiries.</p>
		</i>
		</br>

		{% for section in site.data.workwithus %}
		<div class="accordion">
    	<h2>{{ section.title }}</h2>
      {% for item in section.items %}
	      <div class="accordion-item">
	      	<div class="heading">
	          <h4>{{ item.subtitle }}</h4>
	          <a class="show-content"><i class="fa fa-plus" aria-hidden="true"></i></a>
	          <a class="hide-content"><i class="fa fa-minus" aria-hidden="true"></i></a>
	        </div>
	        <div class="content">
	        {{ item.description }}
		      </div>
				</div>
		  {% endfor %}
	  </div>
	  {% endfor %}

  </article>
</div>