# Site settings
title: P2PU
email: admin@p2pu.org
description: "Taking online courses together, in libraries, for free."
baseurl: /homepage-workspace
url: "http://p2pu.org"
languages: ['en']
default_language: 'en'

# Build settings
markdown: kramdown
permalink: pretty

#SASS settings
sass:
  sass_dir: _sass
  style: :compressed

env: prod

exclude: [Guardfile, Gemfile, Gemfile.lock, README, s3_website.yml]
prose:
  media: assets/images

