---
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<link rel="canonical"
	      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ "assets/css/p2pu-index.css" | prepend: site.baseurl }}">

	<script src="{{ "assets/js/vendor/modernizr-2.6.2.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>

<section class="splash">
	<div class="background"></div>
	{% comment %}
	<video autoplay muted loop id="video"
	       poster="{{ "assets/images/p2pu-video-poster.png"|prepend:site.baseurl }}" preload="auto">
		<source src="{{ "assets/images/ashokaPhilipp.mp4"|prepend:site.baseurl }}" type="video/mp4">
	</video>
	{% endcomment %}
	<nav class="navbar" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-toggle" data-toggle="collapse"
				   data-target="#nav-links-collapse"> <i class="fa fa-bars"></i> </a> <a
					class="navbar-logo pull-left" href="{{ site.baseurl }}/"> <img
					src="{{ "assets/images/p2pu-logo-2x.png" | prepend: site.baseurl }}"
					alt="P2PU Logo" width="122" /> </a> <a class="p2pu-tab" href="#"> <i
					class="fa fa-chevron-down p2pu-tab-icon"></i> </a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="nav-links-collapse">

				<ul class="nav navbar-nav navbar-right">
					{% for link in site.data.navigation %}
						<li class="{{ active }}{% if link.submenu %} dropdown has-subnav{% endif %}">
							<a href="{{ link.url|prepend:site.baseurl }}">{{ link.text }}</a>
						</li>
					{% endfor %}
				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div>
		<div class="banner">
			<div class="container">
				<div class="row">
					<header class="col-md-12">
						We build learning communities <br />on the web
					</header>
					<p class="col-md-12 subheader">Open tools + Community + Design + Support</p>
				</div>
			</div>
			<div class="featured-headline">
				<div class="container">
					<div class="text-center">
						<header class="title">Playful, networked learning experiences that last</header>

						<p class="col-md-8 col-md-offset-2 body">
							Instead of lonely, anonymous online courses, our communities sustain interest and
							engagement because folks build them together. We are open and welcoming in everything
							we do, and help folks generally feel comfy on the internet
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>

<section class="page-content">

	<div class="container">
		<section class="know-believe row">
			<div class="col-md-5 left">
				<div class="text-center divider-left">
					<span><i class="fa fa-heart fa-3x"></i></span>
					<hr />
				</div>

				<h3 class="title text-center">Things We Believe in</h3>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i>
						<h4>Openess</h4>
						Anyone can join, make or contribute to a P2PU experience. We are a 100% open
						organisation.
					</li>
					<li><i class="fa-li fa fa-check-square"></i>
						<h4>Power of communty</h4>
						The future of learning is not in "disruptive" technologies. It lies in the power of
						people exploring together.
					</li>
					<li><i class="fa-li fa fa-check-square"></i>
						<h4>Peers</h4>
						Our courses nurture sharing, connection, and help folks feel generally comfortable on
						the internet.
					</li>
				</ul>
			</div>
			<div class="col-md-2 visible-md-block visible-lg-block">
				<div class="text-center divider-center"><span><i
						class="fa fa-adjust fa-1x fa-rotate-90"></i></span>
				</div>
			</div>
			<div class="col-md-5 right">
				<div class="text-center"><span><i class="fa fa-check-square-o fa-3x"></i></span>
					<hr />
				</div>
				<h3 class="title text-center">Things We Know</h3>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i>
						<h4>Real people</h4>
						We know that working with your peers will keep you engaged in a course.
					</li>
					<li><i class="fa-li fa fa-check-square"></i>
						<h4>Feedback</h4>
						The substantative feedback makes your project better.
					</li>
					<li><i class="fa-li fa fa-check-square"></i>
						<h4>Comfort</h4>
						We know that when you tinker, play and feel comfortable, you'll spend more time on a
						learning project.
					</li>
					<li><i class="fa-li fa fa-check-square"></i>
						<h4>Different learning paths</h4>
						We know that people learn in different ways, and we offer different paths of engagement.
					</li>
				</ul>
			</div>
		</section>
	</div>
	<section class="who">
		<div class="container">
			<div class="col-md-8">
				<h3>Who are we?</h3>
				<h4>A passionate & powerful team of mostly volunteers.</h4>

				<p>
					Here we will have something about our great community.
				</p>

				<a class="people-link" href="{{ site.baseurl }}/about/#people">Meet the community</a>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<h3>How do we do stuff?</h3>

			<div class="row feature left">
				<a href="http://community.p2pu.org/t/please-introduce-yourself/28/70"
				   class="image col-md-6 fa-beer" target="_blank">
					<img src="{{ "assets/images/index/community.jpg"|prepend:site.baseurl }}"
						alt="Community support image">
				</a>

				<div class="content col-md-6">
					<h3 class="header">Community support</h3>

					<p>
						Our community of eduthinkers come together in our space, to give each other feedback,
						develop courses, and recommend tools. Pop over and say hello -- we're a friendly crew.
					</p>
				</div>
			</div>
			<div class="row feature right">
				<a href="{{ "roundtables" | prepend: site.baseurl }}" class="image col-md-6 fa-bullhorn">
					<img src="{{ "assets/images/index/roundtables.jpg"|prepend:site.baseurl }}"
						alt="Roundtables image">
				</a>

				<div class="content col-md-6">
					<h3 class="header">Social Learning Roundtables</h3>

					<p>
						Once a month we come together to discuss important ideas in the future of learning.
						Conversations have included collaboration with folks from the Khan Academy, DIY.org,
						Mozilla, EdX and Hack Education.
					</p>
				</div>
			</div>
			<div class="row feature left">
				<a href="{{ "reports" | prepend: site.baseurl }}" class="image col-md-6 fa-bar-chart-o">
					<img src="{{ "assets/images/index/reports.jpg"|prepend:site.baseurl }}"
						alt="Reports image">
				</a>

				<div class="content">
					<h3 class="header">Reports and documentation</h3>

					<p>
						We produce elegant digital reports on all of our lessons learned, so folks can take our
						blueprint and make it their own.
					</p>
				</div>
			</div>
			<div class="row feature right">
				<a href="#" class="image col-md-6 fa-comment"> <img
						src="{{ "assets/images/index/talks.jpg"|prepend:site.baseurl }}" alt=""> </a>

				<div class="content col-md-6">
					<h3 class="header">Talks, conferences, workshops and consulting</h3>

					<p>
						We are always eager to talk about our experiences with online learning and how can we
						help you.
					</p>
				</div>
			</div>

		</div>
	</section>

	<section class="partners">
		<div class="container">
			<h4>People we've worked with</h4>

			<div class="partners-inner">
				{% for partner in site.data.partners %}
					<img
							src="{{ '/assets/images/index/partners' | prepend: site.baseurl }}/{{ partner.image }}"
							alt="{{ partner.name }} Logo" width="150"
							class="col-md-2" />
				{% endfor %}
			</div>
		</div>
	</section>

</section>

{% include footer.html %}

{% include scripts.html %}

{% include ga.html %}

</body>
</html>
