---
layout: page
category: page
title: Our values, our team, and our work
---
<div class="container" id="philosophy">

	<h2>Our core values:</h2>

	<div class="row">

		<div class="col-md-4 ">
			<h2>Peer learning <i class="fa fa-star fa-2x pull-right"></i></h2>
			<br>
			<p>
			Underlying all our work is the understanding that learning is a social activity. 
			We believe that everybody is an expert in something, that sharing and connecting 
			is how we learn best, and that feedback is necessary in order to improve. 
			</p>
		</div>

		<div class="col-md-4">
			<h2>Community <i class="fa fa-share-alt fa-flip-horizontal fa-2x pull-right"></i></h2>
			<br>
			<p>
			P2PU is a community-centered project, which is reflected across our organization through 
			our volunteer network and governance model. By involving learners and collaborators in all 
			stages of the design and delivery of our work, we foster networks of learners and facilitators, 
			and contribute to the crucial role that informal learning plays in local communities. 
			</p>
		</div>

		<div class="col-md-4">
			<h2>Open <i class="fa fa-volume-up fa-flip-horizontal fa-2x pull-right"></i></h2>
			<br>
			<p>
			Openness enables participation, replication, and accountability. We strive to use openly-licensed 
			learning materials and always share our methodology and resources openly, so that as many people as 
			possible can take leverage our work.
			</p>
		</div>
	</div>

</div>

<div class="container" id="people">
	<h2>Our Staff</h2>

	<div class="tiles">
		{% for person in site.data.people.staff %}
			{% assign multi_three=forloop.index0|modulo:3 %}
			{% if multi_three == 0 %}
				<div class="row">{% endif %}
			<div class="p2pu-person col-lg-4 col-sm-6">
				<img class="img-circle pull-right people-img" src=
						"{{ "/assets/images/people/" |append: person.image |prepend: site.baseurl }}"
				     alt="{{ person.name }} Image">

				<h3>{{ person.name }}<br>
					<small>{{ person.role }}</small>
				</h3>
				<p>{{ person.bio }}</p>
				{% if person.twitter %}
					<span><a href="https://twitter.com/{{ person.twitter }}" target="_blank"><i
							class="fa fa-twitter"></i> {{ person.twitter }}</a></span>
				{% endif %}
				{% if person.url %} |
					<span><a href="{{ person.url }}" target="_blank">{{ person.url | replace_first: 'http://' '' }}</a></span>
				{% endif %}
			</div>
			{% if multi_three == 2 or forloop.last %}</div>{% endif %}
		{% endfor %}
	</div>
	<hr />

	<h2>Our Board</h2>
	<div class="tiles">
		{% for person in site.data.people.board %}
			{% assign multi_three=forloop.index0|modulo:3 %}
			{% if multi_three == 0 %}
				<div class="row">{% endif %}
			<div class="p2pu-person col-lg-4 col-sm-6">
				<img class="img-circle pull-right people-img" src=
						"{{ "/assets/images/people/" |append: person.image |prepend: site.baseurl }}"
				     alt="{{ person.name }} Image">

				<h3>{{ person.name }}<br>
					<small>{{ person.role }}</small>
				</h3>
				<p>{{ person.bio }}</p>
				{% if person.twitter %}
					<span><a href="https://twitter.com/{{ person.twitter }}" target="_blank"><i
							class="fa fa-twitter"></i> {{ person.twitter }}</a></span>
				{% endif %}
				{% if person.url %} |
					<span><a href="{{ person.url }}" target="_blank">{{ person.url | replace_first: 'http://' '' }}</a></span>
				{% endif %}
			</div>
			{% if multi_three == 2 or forloop.last %}</div>{% endif %}
		{% endfor %}
	</div>
	<hr />

	<h2><a href="https://www.p2pu.org/en/about/people/">Our Extended Family</a></h2>
</div>

<figure class="strech-banner philosophy"></figure>





<figure class="strech-banner people"></figure>
<figure class="strech-banner about"></figure>
