---
title: About P2PU
layout: base
slug: about
image_path: /assets/images/about/p2pu_team.jpg
---

<div class="header-wrap">
  <header class="container page-header header-3">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h1>{{ page.title }}</h1>
        <p class="subtitle">Peer 2 Peer University (P2PU) is a grassroots network of people who believe that knowledge should be freely shared and learning is best done with others. Powered by a global community of dozens of libraries, thousands of volunteers, and a small core team, we build this vision with learning circles.</p>
      </div>
      <div class="col-12 col-lg-5">
        <img src="{{site.baseurl}}/assets/images/about/p2pu_team.jpg">
      </div>
    </div>
  </header>
</div>

<section class="about-us">
    <div class="container">
        <p>
          Born out of the 2008 <a href="https://www.capetowndeclaration.org/read-the-declaration" target="_blank">Cape Town Open Education Declaration</a>, P2PU has remained active at the forefront of open education ever since, establishing the first open badging standard with Mozilla, developing the tools that supported some of the first Massive Open Online Courses (MOOCs), and nurturing experimental online learning communities with a variety of audiences around the globe. 
        </p>
        <p>
          Since 2015, P2PU has worked with libraries and community-based organizations worldwide to realize our mission and vision through a methodology called learning circles: free, facilitated study groups for people who want to learn something together. 
        </p>
    </div>
</section>
  
<section class="values">
    <div class="container">
        <h2>Our Values</h2>
        <div class="row text-center text-md-start dot-quad">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="icon col-8 col-md-12 mx-auto">
                    <img src="{{ site.baseurl }}/assets/images/about/about-peerlearning.jpg" />
                </div>
                <h3>Peer learning</h3>
                <p>Underlying our work is the conviction that people develop expertise through their own life experiences, that learning happens whenever people share and connect with others, and that feedback is necessary in order to improve.
</p>
            </div>
          
            <div class="col-12 col-sm-6 col-md-3">
                <div class="icon col-8 col-md-12 mx-auto">
                    <img src="{{ site.baseurl }}/assets/images/about/about-community.jpg" />
                </div>
                <h3>Community</h3>
                <p>P2PU is a community-centered project, reflected in both what we do and <a href="https://peer-2-peer-university.gitbook.io/p2pu-staff-handbook/" target="_blank">how we do it</a>. We believe that sustained learning communities are best created through grassroots collaboration, not hierarchical mandates.</p>
            </div>
            
            <div class="col-12 col-sm-6 col-md-3">
                <div class="icon col-8 col-md-12 mx-auto">
                    <img src="{{ site.baseurl }}/assets/images/about/about-open.jpg" />
                </div>
                <h3>Open</h3>
                <p>Our commitment to open is predicated on the belief that we create value not by gatekeeping but by working together, sharing resources, and lowering barriers to entry. P2PU is built on <a href="https://github.com/p2pu" target="_blank">open source technology</a>, and everything we create is free to share, remix, and redistribute. </p>
            </div>
            
            <div class="col-12 col-sm-6 col-md-3">
                <div class="icon col-8 col-md-12 mx-auto">
                    <img src="{{ site.baseurl }}/assets/images/about/about-equity.jpg" />
                </div>
                <h3>Equity</h3>
                <p>Equity is only possible when we recognize education as a social good rather than a commodity. Systemic injustice means that providing access alone is insufficient, and we must actively design for inclusion at every step of the way.</p>
            </div>
        </div>
    </div>
</section>
  
<section class="staff">
    <div class="container">
        <h2>P2PU Staff</h2>
        <p>P2PU is led by a small, distributed staff who maintain the community, develop software tools, and create courses and resources that reinforce the learning circle methodology, all of which is made available to the public for free. </p>
        <div class="row grid">
            {% for person in site.data.people.staff %}
                {% include person.html %}
            {% endfor %}
        </div>
    </div>
</section>
  
<section class="board">
    <div class="container">
        <h2>Board of Directors</h2>
        <div class="row grid">
          
            {% for person in site.data.people.board %}
                {% include person.html %}
            {% endfor %}
    
        </div>
    </div>
</section>
  
<section class="funders">
    <div class="container">
        <h2>Special Thanks</h2>
        <p>Many people have made P2PU what it is today. A special thanks to: 
            {% assign collaborators = site.data.people.collaborators | sort: "name" %}
            {% for person in collaborators %}
                {% if person == collaborators.last %}
                    {{ person.name }}
                {% else %}
                    {{ person.name | append: ", " }}
                {% endif %} 
            {% endfor %}
        </p>

        <p>We’d like to thank these partners for their cooperation and enthusiasm</a>

        <div class="row grid pb-4">
          {% for partner in site.data.partners %}
            <div class="text-center p-2 col-sm-6 col-md-3 col-lg-4 col-12">
              <a href="{{ partner.url }}">{{ partner.name }}</a>
            </div>
          {% endfor %}
        </div>


        <p>We’d also like to thank these sponsors for their generous support:</p>
        <div class="row grid">
            {% for funder in site.data.funders %}
            <div class="funder col-sm-6 col-md-3 col-lg-4 col-12 g-4">
                <a href="{{ funder.url }}">
                    <img class="w-100 img-fluid" src="{{ site.baseurl }}{{ funder.logo }}" alt="{{ funder.name }}" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


