<nav id="handbook-nav" data-spy="affix" data-offset-top="470"> 
  <ul class="nav">
   <li><a href="{{site.baseurl}}/en/facilitate">Home</a></li>
    <li><a href="{{site.baseurl}}/en/facilitate/background/">Background</a></li>
    <li><a href="{{site.baseurl}}/en/facilitate/starting/">Getting Started</a></li>
    <li><a href="{{site.baseurl}}/en/facilitate/running/">Running a </br>Learning Circle</a></li>
    <li><a href="{{site.baseurl}}/en/facilitate/downloads/">Downloads</a></li>
  </ul>
</nav>
<nav id="handbook-nav-mobile"> 
  <ul class="nav">
   <li><a href="{{site.baseurl}}/en/facilitate">Home</a></li>
    <li><a href="{{site.baseurl}}/en/facilitate/background/">Background</a></li>
    <li><a href="{{site.baseurl}}/en/facilitate/starting/">Getting Started</a></li>
    <li><a href="{{site.baseurl}}/en/facilitate/running/">Running a </br>Learning Circle</a></li>
    <li><a href="{{site.baseurl}}/en/facilitate/downloads/">Downloads</a></li>
  </ul>
</nav>

