<footer class="py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h5>Learning Circles</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Find a Learning Circle</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Host a Learning Circle</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Course Library Handbook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Organize a Team</a></li>
        </ul>
        <h5>Facilitator Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facilitator Handbook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Create a Learning Circle</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>About P2PU</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hire Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Jobs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Donate</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact</a></li>
        </ul>
        <h5>Community</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Forum</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Events</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Membership</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sign Up</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Log In</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Institutional Partners</a></li>
        </ul>
        <h5>Need Help?</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Support</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">support@p2pu.org</a></li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms of Service</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-4 offset-1">
        <button type="button" class="d-flex btn btn-lg p2pu-btn orange">Donate</button>
        <form>
          <h5>Newsletter</h5>
          <div class="d-flex w-100 gap-2">
            
            <form action="//p2pu.us2.list-manage.com/subscribe/post?u=f080ec78070523d59ef613eda&amp;id=06e9c4ece8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f080ec78070523d59ef613eda_06e9c4ece8" tabindex="-1" value=""></div>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="light d-flex btn btn-lg secondary p2pu-btn">
              </div>
            </form>
          </div>
          <div class="d-flex w-100 gap-2">
              {% for link in site.data.navigation.socials %}
                <div class="social-link ms-3">
                  <a href="{{ link.url }}" title="{{ link.text }}">
                    <i class="{{ link.icon_class }}" aria-hidden="true"></i>
                  </a>
                </div>
              {% endfor %}
          </div>
            
        </form>
      </div>
    </div>
  </div>
  
  <div class="toc">
    <div class="container">
      <div class="col-12">
        <div class="notes">
          <span>
            Unless otherwise noted, all the materials on this site are licensed under CC BY-SA 4.0.
          </span>
          <span>
            Peer 2 Peer University is a U.S. 501(c)3 registered in California.
          </span>
        </div>

        <div class="links">
          <span>
            <a href="https://www.p2pu.org/en/terms/" class="underline">Terms of Service</a>
          </span>
          <span>
            <a href="https://www.p2pu.org/en/privacy/" class="underline">Privacy Policy</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
