<nav id="handbook-nav" data-spy="affix" data-offset-top="470"> 
  <ul class="nav">
   <li><a href="{{site.baseurl}}/en/handbook/">Home</a></li>
    <li><a href="{{site.baseurl}}/en/handbook/background/">Background</a></li>
    <li><a href="{{site.baseurl}}/en/handbook/starting/">Getting Started</a></li>
    <li><a href="{{site.baseurl}}/en/handbook/running/">Running a </br>Learning Circle</a></li>
    <li><a href="{{site.baseurl}}/en/handbook/downloads/">Downloads</a></li>
  </ul>
</nav>
<nav id="handbook-nav-mobile"> 
  <ul class="nav">
   <li><a href="{{site.baseurl}}/en/handbook/">Home</a></li>
    <li><a href="{{site.baseurl}}/en/handbook/background/">Background</a></li>
    <li><a href="{{site.baseurl}}/en/handbook/starting/">Getting Started</a></li>
    <li><a href="{{site.baseurl}}/en/handbook/running/">Running a </br>Learning Circle</a></li>
    <li><a href="{{site.baseurl}}/en/handbook/downloads/">Downloads</a></li>
  </ul>
</nav>

