<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-toggle" data-toggle="collapse"
			        data-target="#nav-links-collapse">
				<i class="fa fa-bars"></i>
			</a>
			<a class="navbar-logo" href="{{ site.baseurl }}">
				<img src="{{ site.baseurl }}/assets/images/p2pu-logo.png" alt="P2PU Logo" />
			</a>
			<a class="p2pu-tab" href="#">
				<i class="fa fa-chevron-down p2pu-tab-icon"></i>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="nav-links-collapse">

			<ul class="nav navbar-nav navbar-right">
				{% for link in site.data.navigation %}
					{% assign active = nil %}

					{% for sublink in link.submenu %}
						{% if page.url contains sublink.url %}
							{% assign active = 'active' %}
						{% endif %}
					{% endfor %}

					{% if page.url contains link.url %}
						{% assign active = 'active' %}
					{% endif %}

					<li class="{{ active }}{% if link.submenu %} dropdown has-subnav{% endif %}">
						<a href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>

						{% if link.submenu %}
							<span class="fa fa-caret-down dropdown-toggle visible-xs-block visible-sm-block"
							      data-toggle="dropdown"></span>
							<ul class="dropdown-menu nav navbar-nav subnav" role="menu">
								{% for sublink in link.submenu %}
									<li {% if page.url contains sublink.url %}class="active"{% endif %}>
										{% if sublink.url contains 'http://' %}
											<a href="{{ sublink.url }}">
												{{ sublink.text }}
											</a>
									{% else %}
											<a href="{{ site.baseurl }}{{ sublink.url }}">
												{{ sublink.text }}
											</a>
									{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
				<li>
					<div class="donate-btn-wrap">
						<a href="{{ site.baseurl }}donate/" class="donate">Donate</a>
					</div>
				</li>
			</ul>

		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>




