<nav class="nav-collapsed">
	<div class="logo dark">
		<a href="{{ site.baseurl }}/{{ language }}/">
			<img src="{{ site.baseurl }}/assets/images/p2pu-logo.png" alt="P2PU logo">
		</a>
	</div>

  <div class="nav-items">
    <div class="account nav-item" id="nav-account"></div>

    <button class="menu nav-item" role="button">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <span class="uppercase hidden-xs">Menu</span>
    </button>
  </div>

<div id="full-page-menu" class="collapsed" aria-hidden="true" role="navigation">
  <button id="close-menu" role="button" aria-label="Close"><i class="fa fa-times"></i></button>
  <div class="content-container row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <div class="content">
        {% for link in site.data.navigation.top_level %}
          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="{{ link.url }}">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">{{ link.text }}</span>
                </div>
              </a>
              {% for sub_link in link.submenu %}
                <a href="{{ sub_link.url }}" class="dark">
                  <div class="menu-item submenu">
                    <span class="bullet"></span>
                    <span class="text">{{ sub_link.text }}</span>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</nav>