<!-- TODO: get nav variables from YAML file -->

<header class="fixed-top bg-white shadow-sm border-bottom">
    <div class="header-top container">
      <div class="d-flex flex-wrap align-items-center">
        
        <a class="order-1 d-flex align-items-center py-3 me-md-auto text-white text-decoration-none" href="{{ site.baseurl }}/{{ language }}/">
          <img class="logo bi me-2 logo" src="{{ site.baseurl }}/assets/images/dev/logo.png" alt="P2PU logo">
        </a>

        <nav class="order-4 order-md-2 text-end navbar navbar-expand-md col-12 col-md pe-0">
          <div class="collapse navbar-collapse navbarNavDropdown justify-content-end">
            <button type="button" class="d-flex btn btn-sm secondary p2pu-btn blue">Start a Team</button>
            <button type="button" class="d-flex btn btn-sm secondary p2pu-btn orange">Create an Account</button>
          </div>
        </nav>
        <!--button type="button" class="d-flex btn btn-sm secondary p2pu-btn dark" id="nav-account"></button> TODO: PULLS IN LOGIN LINK, ETC. - do we ditch this or modify it somewhere?) -->
        <nav id="account-info" class="order-2 order-md-4 m3-0 ms-auto">
          <div class="dropdown nav-item">
            <a href="#" class="nav-link d-flex align-items-center mb-2 mb-md-0 link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="material-icons">account_circle</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownNavLink" style="">
              <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li> <!-- TODO: automagically get active classes? -->
              <li><a class="dropdown-item" href="#">Inventory</a></li>
              <li><a class="dropdown-item" href="#">Customers</a></li>
              <li><a class="dropdown-item" href="#">Products</a></li>
              <li><a class="dropdown-item" href="#">Reports</a></li>
              <li><a class="dropdown-item" href="#">Analytics</a></li>
            </ul>
          </div>
        </nav>
        
        <nav id="log-in" class="order-2 order-md-4 me-0">
          <button type="button" class="btn btn-sm d-flex align-items-center secondary p2pu-btn gray mx-0 ms-auto">
            <span class="material-icons material-icons-outlined me-1">account_circle</span>
            Log In
          </button>
        </nav>
        
        <nav class="order-3 navbar-expand-md">
          <button class="navbar-toggler hamburger mx-0 align-items-center" type="button" data-bs-toggle="collapse" data-bs-target=".navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </button>
        </nav>
        
      </div>
    </div>
  </div>
  <div class="header-bottom px-3 py-2 bg-cream-dark">
    <div class="container-lg d-flex flex-wrap justify-content-center">
      <nav class="col-12 col-md-auto py-0 ms-md-auto justify-content-center text-small navbar navbar-expand-md px-0 px-md-3">
        <div class="collapse navbar-nav navbar-collapse navbarNavDropdown align-items-stretch align-items-md-center">
{% for link in site.data.navigation.top_level %}
          <div class="dropdown nav-item">
            <a href="{{ link.url }}" class="nav-link d-flex align-items-center link-dark text-decoration-none dropdown-toggle {% if link.external %} external {% endif %}" {% if link.submenu %} data-bs-toggle="dropdown" {% endif %} aria-expanded="false" {% if link.external %}  target="_blank" {% endif %} > {{ link.text }}</a>
{% if link.submenu %}
            <ul class="dropdown-menu" aria-labelledby="dropdownNavLink" style="">      
{% endif %}

{% for sub_link in link.submenu %}
              <li><a class="dropdown-item {% if link.external %} external {% endif %}" href="{{ sub_link.url }}" {% if link.external %}  target="_blank" {% endif %}>{{ sub_link.text }}</a></li>
{% endfor %}
{% if link.submenu %}
            </ul>    
{% endif %}
        </div>
{% endfor %}        
                
           
      <!-- 
          <div class="dropdown nav-item">
            <a href="#" class="nav-link d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Explore Learning Circles</a>
          </div>
          
          <div class="dropdown nav-item">
            <a href="#" class="nav-link d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Knowledge Base</a>
          </div>
          
          <div class="dropdown nav-item">
            <a href="#" class="nav-link d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Community</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownNavLink" style="">
              <li><a class="dropdown-item" href="#">Learning Resources</a></li>
              <li><a class="dropdown-item" href="#">Forums</a></li>
              <li><a class="dropdown-item" href="#">Events</a></li>
            </ul>
          </div>
          
          <div class="dropdown nav-item">
            <a href="#" class="nav-link d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">About</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownNavLink" style="">
              <li><a class="dropdown-item" href="#">About</a></li>
              <li><a class="dropdown-item" href="#">Services</a></li>
              <li><a class="dropdown-item" href="#">Jobs</a></li>
              <li><a class="dropdown-item" href="#">Blog</a></li>
              <li><a class="dropdown-item" href="#">Donate</a></li>
            </ul>
          </div>
          
          <div class="dropdown nav-item">
            <a href="#" class="nav-link d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Help</a>
          </div>
 --> 
        </div>       
      </nav>
    </div>
</header>

