<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.11.1.min.js"><\/script>')
</script>

<script src="{{ site.baseurl }}/assets/js/vendor/bootstrap/collapse.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/bootstrap/dropdown.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/bootstrap/affix.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/bootstrap/modal.js"></script>

<script src="{{ site.baseurl }}/assets/js/vendor/scroll-magic.min.js"></script>
<script src="{{site.data.bundles['common']['js']}}"></script>
<script src="{{site.data.bundles['navbar']['js']}}"></script>

{% for js in page.extra_js %}
	{% if js contains '<script>' %}
		{{ js }}
	{% elsif js contains 'http' %}
    <script src="{{ js }}"></script>
	{% else %}
		<script src="{{site.baseurl}}/assets/{{ js }}"></script>
	{% endif %}
{% endfor %}

{% for bundle in page.bundles %}
	<script src="{{site.data.bundles[bundle]['js']}}"></script>
{% endfor %}

{% if page.youtube_call %}
<script type="text/javascript">
	function list(){
		P2PU.Roundtables.init();
	}
</script>
<script src="https://apis.google.com/js/client.js?onload=list"></script>
{% endif %}

{% if page.js_invocation %}
	<script>
		P2PU.{{ page.js_invocation }}.init();
	</script>
{% endif %}

{% if site.env == 'dev' %}
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
{% endif %}

<script>
	$(function() {
		function openMenu() {
			$('#full-page-menu').removeClass('collapsed');
			$('body').addClass('freeze');
		}

		function closeMenu() {
			$('#full-page-menu').addClass('collapsed');
			$('body').removeClass('freeze');
		}

		$('nav .menu').on('click', function() {
			openMenu();
		})

		$('#close-menu').on('click', function() {
			closeMenu();
		})

		$('#full-page-menu a').click(closeMenu);
	})
</script>

<script type="text/javascript">
		var controller = new ScrollMagic.Controller();
		var subtitles = document.querySelectorAll('.subtitle');
		var footerSubtitles = document.querySelectorAll('footer .subtitle');
		var learningCirclesDefinition = document.getElementById('definition');

		subtitles.forEach(function(subtitle) {
		  new ScrollMagic.Scene({
        triggerElement: subtitle,
        triggerHook: 0.6
	    })
	    .setClassToggle(subtitle, "active")
	    .addTo(controller);
		});

		footerSubtitles.forEach(function(subtitle) {
			new ScrollMagic.Scene({
				triggerElement: subtitle,
				triggerHook: 'onEnter',
				offset: 200
			})
			.setClassToggle(subtitle, "active")
	    .addTo(controller);
		});
</script>


