<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="{{site.data.bundles['common']['js']}}"></script>
<script src="{{site.data.bundles['p2pu-theme']['js']}}"></script>
<script src="{{site.data.bundles['navbar']['js']}}"></script>

{% for js in page.extra_js %}
	{% if js contains '<script>' %}
		{{ js }}
	{% elsif js contains 'http' %}
    <script src="{{ js }}"></script>
	{% else %}
		<script src="{{site.baseurl}}/assets/{{ js }}"></script>
	{% endif %}
{% endfor %}

{% for js in layout.extra_js %}
  {% if js contains '<script>' %}
    {{ js }}
  {% elsif js contains 'http' %}
    <script src="{{ js }}"></script>
  {% else %}
    <script src="{{site.baseurl}}/assets/{{ js }}"></script>
  {% endif %}
{% endfor %}

{% for bundle in layout.bundles %}
	<script src="{{site.data.bundles[bundle]['js']}}"></script>
{% endfor %}

{% for bundle in page.bundles %}
	<script src="{{site.data.bundles[bundle]['js']}}"></script>
{% endfor %}

{% if page.youtube_call %}
<script type="text/javascript">
	function list(){
		P2PU.Roundtables.init();
	}
</script>
<script src="https://apis.google.com/js/client.js?onload=list"></script>
{% endif %}

{% if page.js_invocation %}
	<script>
		P2PU.{{ page.js_invocation }}.init();
	</script>
{% endif %}

{% if site.env == 'dev' %}
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
{% endif %}

