<script type="text/javascript">

  (function() {

    // update data from API

    function updateHtml(id, value) {
      var el = document.getElementById(id)
      if (el && el.innerHTML !== value) {
        el.innerHTML = value
      }
    }

    function updateImage(id, value) {
      var el = document.getElementById(id)
      if (el &&  el.src !== value) {
        el.src = value
      }
    }

    function updateLink(id, value) {
      var el = document.getElementById(id)
      if (el && el.href !== value) {
        el.href = value
        el.innerHTML = value
      }
    }

    var baseUrl = 'https://learningcircles.p2pu.org'
    {% if site.env == 'dev' %}
      baseUrl = 'http://localhost:8000'
    {% endif %}

    var apiUrl = baseUrl + '/api/teams/' + {{ team.id }};

    var request = new XMLHttpRequest();

    request.onload = function() {
      if (this.status == 200) {
        var data = JSON.parse(this.responseText);
        var team = data.item

        if (!team) {
          return
        }

        document.title = team.name;

        updateHtml('team-name', team.name)
        updateHtml('team-intro-text', team.intro_text)
        updateLink('team-email', 'mailto:' + team.email_address)
        updateLink('team-website', team.website)
        updateImage('team-image', team.image_url)
        updateImage('team-logo', team.logo_url)
      }
    };
    request.open("GET", apiUrl, true);
    request.responseType = 'text';
    request.send();

  })()
</script>