<div class="slide">
  <div class="testimonial-card">
    <div class="quote">
      <i class="fas fa-quote-left"></i>
      <p class="">"{{ testimonial.quote }}"</p>
      <i class="fas fa-quote-right"></i>
    </div>
    <div class="attribution">
      <div class="image">
        <img src="{{ site.baseurl }}/assets/images/testimonials/{{ testimonial.img }}" alt="{{ testimonial.name }}">
      </div>
      <div class="text">
        <div class="name">{{ testimonial.name }}</div>
        <div class="organization">{{ testimonial.role }}</div>
        <div class="organization">{{ testimonial.organization }}</div>
      </div>
    </div>
  </div>
</div>