.thumbnail {
	background-color: $gray-snow;
	position: relative;
	@include transition(background-color 0.3s linear);

	&:hover {
		text-decoration: none;
		background-color: $gray-lighter;
	}

	.thumbnail-side {
		position: relative;
		text-align: center;
		background: $brand-primary;
		color: $white;
		padding: 15px 0;
		margin-bottom: 0.5em;
		font-family: $headings-font-family;
		font-size: 1em;
	}

	.cotent-wrap {
		text-align: center;
		color: grey;
		font-style: italic;
		font-size: 0.9em;
		line-height: 1.5;
		margin-top: 1em;
	}
}

.csstransforms .thumbnail {
	border: 0;
	border-left: 60px solid $brand-primary;

	/* Make a little room */
	padding-left: 10px;

	.thumbnail-side {

		/* Abs positioning makes it not take up vert space */
		position: absolute;
		top: 95%;
		left: -19%;

		/* Border is the new background */
		background: none;

		/* Rotate from top left corner (not default) */
		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;

		@include rotate(-90deg);
	}
}

.strech-banner {
	height: 350px;
	width: 100%;
	background-repeat: no-repeat;
	margin-top: 50px;
	background-size: cover;

	&.about {
		background-image: url(../images/about/about-banner.jpg);
		background-position: 0 100%;
	}

	&.philosophy {
		background-image: url(../images/about/philosophy-banner.jpg);
		background-position: 0 22%;
	}

	&.people {
		background-image: url(../images/about/people-banner.jpg);
		background-position: 0 38%;
	}

	&.credits {
		background-image: url(../images/about/p2pu_lego.jpg);
		background-position: 0 51%;
	}
}

.bottom-link {
	margin: 2em 0;
}

.social-footer {
	a {
		padding: 3px 10px;
		border-radius: 2px;
		margin-top: -18px;
		font-size: 0.8em;

		&.tw {
			background-color: #00BBF5;
			border-color: #00BBF5;
			&:hover {
				background-color: darken(#00BBF5, 5%);
			}
		}

		&.fb {
			background-color: #415E9B;
			border-color: #415E9B;
			&:hover {
				background-color: darken(#415E9B, 5%);
			}
		}
	}
}

.connect-icons-wrapper {
	margin: 50px 0;

	$icon-size-background: 8em;
	.icon-circle {
		display: block;
		margin: 0 auto;
		background-color: $gray;
		color: $white;
		border-radius: 50%;
		height: $icon-size-background;
		width: $icon-size-background;
		text-align: center;
		line-height: $icon-size-background + 1.5;
		@include transition(all 0.3s linear);
	}

	.item-title {
		text-align: center;
		text-transform: uppercase;
		font-size: 0.8em;
		margin: 1em 0;
		line-height: 2;
		color: $p2pu-blue;
		@include transition(all 0.3s linear);
	}

	&:hover{
		.icon-circle {
			background-color: $gray-snow;
			color: $brand-primary;
		}

		.item-title {
			color: $p2pu-orange;
		}
	}
}

section.featured-work{
	padding: 3em 1.5em;
	background-color: #F3F4F8;

	.inner{
		margin: 2em 0;
	}
}

.donate-page{
	margin-bottom: 60px;

	.donate-button{
		width: 100%;
	}

	.staff{

	}
}

.sidebar {
	.affix {
			top: 0;
	}
}

.splash.learning-circles {
	background: transparent;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-top: -45px;

	.background {
		background-color: rgba(81, 86, 101, 0.85);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../images/work/overlay.png), radial-gradient( circle at top right, $p2pu-blue, $p2pu-green);
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
		background-position: top left, top left;

		@media (min-width: $screen-xs-min) {
			background-size: auto, auto;
			background-position: top left, top left;
		}

		@media (min-width: $screen-sm-min) {
			background-size: auto, cover;
			background-position: top left, top left;
		}
	}

	.banner {
		position: relative;
		z-index: 1;
		padding-bottom: 20px;
		height: 750px;

		@media (min-width: $screen-sm-min) {
			height: 450px;
		}
		@media (min-width: $grid-float-breakpoint-max) {
			height: 500px;
		}

		.banner-graphic{
			img{
				max-width: 100%;
			}

			@media (min-width: $screen-xs-min) {
				padding-top: 250px;
			}

			@media (min-width: $screen-sm-min) {
				padding-top: 0;
			}
		}

		header {
			color: $white;
			float: none;
			line-height: 1.2;
			text-align: center;
			font-family: $headings-font-family;

			@media (min-width: $screen-xs-min) {
				font-size: 2.4em;
				line-height: 1.3;
				padding-top: 1em;
				padding-bottom: 0.8em;
				position: absolute;
				top: 0;
			}

			@media (min-width: $screen-sm-min) {
				font-size: 3em;
				padding-top: 0;
				padding-bottom: 1em;
				position: relative;
			}
		}

		.subheader {
			color: $white;
			font-family: $font-family-base;
			text-transform: uppercase;
			text-align: center;
			bottom: 11%;
			left: 0;
			line-height: 2;
			margin-bottom: 2em;

			@media (min-width: $screen-xs-min) {
				font-size: 0.7em;
				line-height: 1;
			}

			@media (min-width: $screen-sm-min) {
				font-size: 1.5em;
			}
		}

		.btn-cta, .btn-subcta {
			border-color: $white;
			border-radius: 5px;
			text-transform: uppercase;
			font-family: $font-family-base;
			font-size: 1em;
			color: $white;
			-webkit-transition: all 0.2s ease-out;
		  -moz-transition: all 0.2s ease-out;
		  -o-transition: all 0.2s ease-out;
		  transition: all 0.2s ease-out;

			&:hover {
				background-color: $white;
				color: $p2pu-blue;
				border-color: transparent;
			}
		}

		.btn-cta{
			color: $p2pu-blue;
			background-color: $white;

			&:hover {
				color: $white;
				background-color: transparent;
				border-color: $white;
			}
		}

		.featured-headline {
			background-color: $brand-primary;
			color: $white;
			padding: 1em 0;
			position: absolute;
			bottom: 0;
			width: 100%;

			header {
				font-family: $headings-font-family;
				padding: 1em 0;

				@media (min-width: $screen-xs-min) {
					font-size: 1.5em;
					line-height: 1.2;
				}

				@media (min-width: $screen-sm-min) {
					font-size: 2.5em;
				}
			}

			.body {
				@media (min-width: $screen-xs-min) {
					font-size: 1em;
					line-height: 1.5;
				}

				@media (min-width: $screen-sm-min) {
					font-size: 1.5em;
				}
			}

		}

		.banner-graphic{
			padding-top: 30px;
		}

		.actions{
			  padding-top: 60px;
		}
	}
}

