@import "cards/dash-card";
@import "layout-elements/dot-block";

#dashboard{
	.subheader{
		.alerts{
			.alert:last-of-type{
				margin-bottom: $padding-lg;
			}
		}
	}
	.dashboard-cards{
		>row{
			border-top: 1px solid;
			@media (min-width: map-get($grid-breakpoints, "md")) {
				border-top: 0;
			}
		}
	}
}

