@import 'bootstrap/scss/mixins/_breakpoints';

@import "p2pu-theme/src/scss/cards/dash-card";
@import "layout-elements/dot-block";

#dashboard{
	.subheader{
		.alerts{
			.alert:last-of-type{
				margin-bottom: $padding-lg;
			}
		}
	}
	.dashboard-cards{
		>row{
			border-top: 1px solid;
			@include media-breakpoint-up(md) {
				border-top: 0;
			}
		}
	}
}

