#donate{
  .container.bg-light{
    max-width: 100%;
    margin-top: 0;
    margin-bottom: $spacer * 3;
    padding-top: 0;
    padding-bottom: $grid-gutter-width;
    @media (min-width: map-get($grid-breakpoints, "lg")) {
      margin-top: $spacer * 4;
      padding-top: $grid-gutter-width;
    }
    input.form-control.dark{
      padding: 0 .8rem;
    }
  }
}