section#facilitator-landing {
  .full-width-image {
    height: 70vh;
    min-height: 250px;
    width: 100%;
    background: url('../images/about.jpg') no-repeat center center;
    background-size: cover;
  }
}