.feature {
	position: relative;
	margin: 0px;

    h3 { margin-top:0; }

	.img-as-bck {
		background-size: cover;
		background-position: top left;
		background-repeat: no-repeat;
		height: 300px;
	}

	.content {
		display: inline-block;
		padding: 1em 1em 1.5em 1em;
		vertical-align: middle;

		@media (min-width: map-get($grid-breakpoints, "xs")) {
			font-size: 1em;
		}
		@media (min-width: map-get($grid-breakpoints, "sm")) {
			width: 50%;
			padding-top: 0;
			font-size: 0.8em;
		}
		@media (min-width: map-get($grid-breakpoints, "md")) {
			padding-top: 1em;
			font-size: 1em;
		}

		.header {
			margin-top: 10px;
			@media (min-width: map-get($grid-breakpoints, "md")) {
				margin-top: 21px;
				font-size: 19px;
			}
			@media (min-width: map-get($grid-breakpoints, "sm")) {
				font-size: 1.5em;
			}
			@media (min-width: map-get($grid-breakpoints, "md")) {
				font-size: 19px;
			}
		}

	}

	&.left {
		text-align: center;
		@media (min-width: map-get($grid-breakpoints, "sm")) {
			text-align: left;
		}

		.image {
			padding: 0;
			/*@include feature-overlay();*/
			@media (min-width: map-get($grid-breakpoints, "sm")) {
				width: 50%;
			    float: left;
			}

			img {
				max-width: 100%;
			}
		}
	}

	&.right {
		text-align: center;
		@media (min-width: map-get($grid-breakpoints, "sm")) {
			text-align: right;
		}

		.image {
			padding: 0;
			/*@include feature-overlay();*/
			@media (min-width: map-get($grid-breakpoints, "sm")) {
				width: 50%;
			    float: right;
			}

			img {
				max-width: 100%;
			}
		}

		.content {
			float: right;
		}
	}
}
