main {
	margin-top: 60px;

	section {
		padding: $padding-md;
	}

	header {
		@include flex-column-centered;
	  margin: $padding-sm;

	  .subtitle {
	  	text-align: center;
	  }
	}

	section#landing {
		display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center;
		min-height: 90vh;
		padding: $padding-sm 0;
		transition: all 2s ease-in-out;

    .header-text {
			text-align: center;

	    h1 {
		    margin-bottom: 1em;
		    line-height: normal;
	    }
    }

		.secondary-nav {
	    margin-top: 10vh;
	    margin-bottom: 10vh;

	    .nav-item {
	    	position: relative;
	    	display: flex;
		    align-items: center;

				.title {
					font-size: 1.2em;
					padding-left: 5px;

					a {
						color: $gray-darker;
			    	text-transform: uppercase;

						&:hover {
							font-weight: bold;
						}
					}
				}

				&:nth-of-type(1) {
					.line {
						width: 0;
						transition: width 1s ease-in-out;
						border: 0.6em solid $p2pu-blue;
						background: $p2pu-blue;
						&.expanded {
							width: 20vw;
						}
					}
				}

				&:nth-of-type(2) {
					.line {
						width: 0;
						transition: width 1s ease-in-out;
						border: 0.6em solid $p2pu-green;
						background: $p2pu-green;
						&.expanded {
							width: 35vw;
						}
					}
				}

				&:nth-of-type(3) {
					.line {
						width: 0;
						transition: width 1s ease-in-out;
						border: 0.6em solid $p2pu-yellow;
						background: $p2pu-yellow;
						&.expanded {
							width: 50vw;
						}
					}
				}

				&:nth-of-type(4) {
					.line {
						width: 0;
						transition: width 1s ease-in-out;
						border: 0.6em solid $p2pu-orange;
						background: $p2pu-orange;
						&.expanded {
							width: 65vw;
						}
					}
				}
	    }
		}
	}

	section#search {

		.course-search {
			display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center;
	    margin-top: $padding-md;
	    margin-bottom: $padding-md;
	    flex-wrap: wrap;

			.label {
				color: $gray-darker;
				font-size: 1.4em;
		    margin-right: 8px;
			}

			.Select-control {
    		border: none;
    		border-radius: 0;
    		border-bottom: 1px solid $gray-darker;
    	}

    	.city-select {
    		&.is-focused {
    			> .Select-control {
						box-shadow: none;
    			}
    		}

    		&:focus {
    			outline: none;
    			box-shadow: none;
    		}
    	}
		}

		.search-results {

			.result-item {
		    position: relative;
		    display: flex;
		    justify-content: center;
		    padding: $padding-sm 10px;
		    margin-bottom: $padding-sm;

		    .card {
		    	position: absolute;
			    background: $p2pu-orange;
			    padding: $padding-sm;
			    text-align: center;
			    color: #fff;
			    cursor: pointer;
			    box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.1);
			    transition: transform 0.3s ease-in-out;

			    .title {
			    	text-transform: uppercase;
			    }
		    }

		    .image-container {
    	    width: 100%;
			    height: auto;
			    margin-top: 40px;
			    max-height: 300px;
			    overflow: hidden;

			    .image {
			    	min-height: 200px;
						background: $p2pu-light-orange;

						img {
				    	width: 100%;
				    }
			    }
		    }

		    &:nth-of-type(4n+1) {
		    	.card {
		    		background: $p2pu-orange;
		    	}

		    	.image-container > .image {
		    		background: $p2pu-light-orange;
		    	}
		    }

		    &:nth-of-type(4n+2) {
		    	.card {
		    		background: $p2pu-blue;
		    	}

		    	.image-container > .image {
		    		background: $p2pu-light-blue;
		    	}
		    }

		    &:nth-of-type(4n+3) {
		    	.card {
		    		background: $p2pu-green;
		    	}

		    	.image-container > .image {
		    		background: $p2pu-light-green;
		    	}
		    }

		    &:nth-of-type(4n+4) {
		    	.card {
		    		background: $p2pu-yellow;
		    	}

		    	.image-container > .image {
		    		background: $p2pu-light-yellow;
		    	}
		    }

		    .show-on-hover {
		    	max-height: 0;
		    	overflow: hidden;
		    	transition: max-height 0.3s ease-in-out;
		    }

		    &:hover, &:focus {
		    	.show-on-hover {
			    	max-height: 200px;
		    	}

		    	.card {
		    		z-index: 10;
		    		transform: scale(1.1);
		    	}
		    }
			}
		}

		.result-item.start-learning-circle {
			align-items: center;

			p {
				padding: 20px 0 12px 0;
			}

			.circle {
				@include flex-column-centered;
				height: 200px;
		    width: 200px;
		    background: $p2pu-light-blue;
		    border-radius: 50%;
		    text-align: center;
		    padding: $padding-sm;
		    color: $gray-darker;
			}
		}

		.load-more {
			text-align: center;
	    padding: $padding-md;
	    cursor: pointer;
		}
	}

	section#about {
		color: $white;

		.columns {
			.column {
		    text-align: center;
				margin-bottom: $padding-md;

		    p {
		    	margin-bottom: $padding-sm;
    	    padding: $padding-sm;
		    }
			}
		}
	}

	section#partners-and-funders {
		.partners {
			> div {
				text-align: center;
				margin-bottom: $padding-sm;
			}
		}

		.funders {
	    padding: $padding-md;

	    .funder {
	    	display: flex;
	    	align-items: center;
	    	justify-content: center;

		    img {
		    	max-width: 200px;
		    }
	    }
		}
	}

	.full-width-image {
		height: 90vh;
		min-height: 250px;
		width: 100%;

		&:nth-of-type(1) {
			background: url('../images/header.jpg') no-repeat center center;
			background-size: cover;
		}

		&:nth-of-type(2) {
			background: url('../images/finance_for_everyone.jpg') no-repeat center center;
			background-size: cover;
		}

		&:nth-of-type(3) {
			background: url('../images/about.jpg') no-repeat center center;
			background-size: cover;
		}
	}
}

.background-yellow {
	background-color: $p2pu-yellow;
}

.background-green {
	background-color: $p2pu-green;
}

.background-blue {
	background-color: $p2pu-blue;
}

.background-orange {
	background-color: $p2pu-orange;
}

@media (max-width: $screen-sm-max) {
	body {
		font-size: $font-size-base-mobile;
	}

	main {

		section {
			padding: 4px;

			header {
				margin: 12px 4px;
			}
		}

		.full-width-image {
			height: auto;
			min-height: 50vh;
			width: auto;
		}

		section#landing {
			.secondary-nav {
				.nav-item {
					&:nth-of-type(1) {
						.line {
							&.expanded {
								width: 10vw;
							}
						}
					}

					&:nth-of-type(2) {
						.line {
							&.expanded {
								width: 20vw;
							}
						}
					}

					&:nth-of-type(3) {
						.line {
							&.expanded {
								width: 30vw;
							}
						}
					}

					&:nth-of-type(4) {
						.line {
							&.expanded {
								width: 40vw;
							}
						}
					}
				}
			}
		}

		section#search {
			.search-form {
		    font-size: 1.4em;
		    margin: $padding-sm;
		  }

		  .search-results {
				.result-item {
					padding: 8px 0;
					margin-bottom: 0;
			    .card {
			    	position: relative;
			    }

			    &:hover, &:focus {
			    	.show-on-hover {
				    	max-height: 0px;
			    	}
			    }
			  }
			}
		}

		section#partners-and-funders {
			.funders {
				padding: $padding-sm;
				.funder {
					img {
						max-width: 160px;
					}
				}
			}
		}
	}

	.hidden-on-mobile {
		display: none !important;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	main {
		section {
			padding: $padding-sm;

			header {
				margin: 12px 4px;
			}
		}
	}
}
