main {
	margin-top: 60px;

	section {
		padding: $padding-md;
	}

	header {
		@include flex-column-centered;
	  margin: $padding-sm;

	  .subtitle {
	  	text-align: center;
	  }
	}

	section#landing {
		display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center;
		min-height: 90vh;
		padding: $padding-sm 0;
		transition: all 2s ease-in-out;

    .header-text {
			text-align: center;

	    h1 {
		    margin-bottom: 1em;
		    line-height: normal;
	    }
    }

		.secondary-nav {
	    margin-top: 10vh;
	    margin-bottom: 10vh;

	    .nav-item {
	    	position: relative;
	    	display: flex;
		    align-items: center;

				.title {
					font-size: 1.2em;
					padding-left: 5px;

					a {
						color: $gray-darker;
			    	text-transform: uppercase;

						&:hover {
							font-weight: bold;
						}
					}
				}

				&:nth-of-type(1) {
					.line {
						width: 0;
						transition: width 1s ease-in-out;
						border: 0.6em solid $p2pu-blue;
						background: $p2pu-blue;
						&.expanded {
							width: 20vw;
						}
					}
				}

				&:nth-of-type(2) {
					.line {
						width: 0;
						transition: width 1s ease-in-out;
						border: 0.6em solid $p2pu-green;
						background: $p2pu-green;
						&.expanded {
							width: 35vw;
						}
					}
				}

				&:nth-of-type(3) {
					.line {
						width: 0;
						transition: width 1s ease-in-out;
						border: 0.6em solid $p2pu-yellow;
						background: $p2pu-yellow;
						&.expanded {
							width: 50vw;
						}
					}
				}

				&:nth-of-type(4) {
					.line {
						width: 0;
						transition: width 1s ease-in-out;
						border: 0.6em solid $p2pu-orange;
						background: $p2pu-orange;
						&.expanded {
							width: 65vw;
						}
					}
				}
	    }
		}
	}

	section#learning-circles {
		.overview {
	    display: flex;
      margin-top: 80px;

			#stats {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.stat {
					text-align: center;
					margin-bottom: $padding-md;

					.number {
						font-size: $font-size-h1;
						font-family: $headings-font-family;
						font-weight: $headings-font-weight;
					}

					.label {
						text-transform: uppercase;
						font-size: $font-size-xs;
						color: $gray-darker;
					}

					&:nth-of-type(1) {
						.number {
							color: $p2pu-orange;
						}
					}

					&:nth-of-type(2) {
						.number {
							color: $p2pu-yellow;
						}
					}

					&:nth-of-type(3) {
						.number {
							color: $p2pu-blue;
						}
					}

					&:nth-of-type(4) {
						.number {
							color: $p2pu-green;
						}
					}
				}
			}

			#definition {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				margin-right: 50px;

				p.large {
					padding-right: 100px;
				}
			}
		}
	}

	#preview {
		background: $gray-lighter;
    margin-bottom: $padding-lg;

    .preview-container {
    	padding-top: $padding-sm;

    	.sub-title {
    		display: flex;
    		justify-content: center;

    		.text {
			    color: $gray-darker;
	    		border-bottom: 2px solid $p2pu-blue;
    		}
    	}
    }

		.search-button {
	    display: flex;
	    justify-content: center;
	    transform: translateY(20px);
		}
	}

	#testimonials {
		margin-bottom: $padding-md;

		.slide-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		.slide {
			display: flex;
			justify-content: center;
			align-content: center;
			width: 680px;
			margin: 6px;

			.testimonial-card {
				transition: all 0.4s ease-in-out;
				transform: scale(0.8);
				background: $gray-lighter;
				border-radius: 20px;
				box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.1);
				display: flex;
				flex-direction: column;
				padding: $padding-md;
				z-index: 0;

				.quote {
					margin: $padding-sm;
				}

				.attribution {
					display: flex;
					align-items: center;
			    justify-content: center;

					.image {
						height: 100px;
						width: 100px;
						margin-right: $padding-sm;

						img {
							border-radius: 50%;
							height: 100%;
							width: 100%;
						}
					}

					.text {
						.name {
							font-weight: 700;
							padding-bottom: 6px;
						}

						.role {
							font-size: $font-size-small;
							text-transform: uppercase;
						}

						.organization {
							font-size: $font-size-small;
						}
					}
				}
			}

			&.slick-current.slick-active.slick-center {
				.testimonial-card {
					transform: scale(1);
					background: white;
					z-index: 1;
				}
			}
		}
	}

	section#about {
		color: $white;

		.headline {
			padding: 0;
		}

		.columns {
			margin-right: 0;
			margin-left: 0;

			.column {
		    text-align: center;
				margin-bottom: $padding-md;

		    p {
		    	margin-bottom: $padding-sm;
    	    padding: $padding-sm;
		    }
			}
		}
	}

	section#partners-and-funders {
		.partners {
			> div {
				text-align: center;
				margin-bottom: $padding-sm;
			}
		}

		.funders {
	    padding: $padding-md;

	    .funder {
	    	display: flex;
	    	align-items: center;
	    	justify-content: center;

		    img {
		    	max-width: 200px;
		    	filter: grayscale(1);
		    }
	    }
		}
	}

	> div.full-width-image {
		height: 90vh;
		min-height: 250px;
		width: 100%;

		&.header {
			background: url('../images/header.jpg') no-repeat center center;
			background-size: cover;
		}

		&.finance {
			background: url('../images/finance_for_everyone.jpg') no-repeat center center;
			background-size: cover;
		}

		&.about {
			background: url('../images/about.jpg') no-repeat center center;
			background-size: cover;
		}
	}
}

.background-yellow {
	background-color: $p2pu-yellow;
}

.background-green {
	background-color: $p2pu-green;
}

.background-blue {
	background-color: $p2pu-blue;
}

.background-orange {
	background-color: $p2pu-orange;
}

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

@media (max-width: $screen-sm-max) {
	body {
		font-size: $font-size-base-mobile;
	}

	main {
		section {
			padding: 4px;

			header {
				margin: 12px 4px;
			}
		}

		.full-width-image {
			height: auto;
			min-height: 50vh;
			width: auto;
		}

		section#landing {
			.secondary-nav {
				.nav-item {
					&:nth-of-type(1) {
						.line {
							&.expanded {
								width: 10vw;
							}
						}
					}

					&:nth-of-type(2) {
						.line {
							&.expanded {
								width: 20vw;
							}
						}
					}

					&:nth-of-type(3) {
						.line {
							&.expanded {
								width: 30vw;
							}
						}
					}

					&:nth-of-type(4) {
						.line {
							&.expanded {
								width: 40vw;
							}
						}
					}
				}
			}
		}

		section#learning-circles {
			.overview {
				margin-top: $padding-sm;
				flex-direction: column;

				#definition {
					order: 1;
					text-align: center;

					p.large {
						padding-right: 0;
					}

					figure.chart {
						display: none;
					}
				}

				#stats {
					order: 2;
					align-items: unset;

					.stacked-numbers {
						display: flex;
						justify-content: space-evenly;
					}

					.stat {
						margin-bottom: $padding-sm;
					}
				}
			}
		}

		#testimonials {
			.slide {
				width: 95vw;

				.testimonial-card {
					padding: 10px;

					.attribution {
						flex-direction: column;
						text-align: center;

						.image {
							margin-right: 0;
						}
					}
				}
			}
		}

		section#search {
			.search-form {
		    font-size: 1.4em;
		    margin: $padding-sm;
		  }

		  .search-results {
		  	overflow: hidden;
				.result-item {
					padding: 8px 0;
					margin-bottom: 0;
			    .card {
			    	position: relative;
			    	left: 0;
				    transform: translateX(0);
			    }

			    &:hover, &:focus {
			    	.show-on-hover {
				    	max-height: 0px;
			    	}

			    	.card {
			    		left: 0;
					    transform: scale(1) translateX(0);
			    	}
			    }
			  }
			}
		}

		section#partners-and-funders {
			.funders {
				padding: $padding-sm;
				.funder {
					img {
						max-width: 160px;
					}
				}
			}
		}
	}

	.hidden-on-mobile {
		display: none !important;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	main {
		section {
			padding: $padding-sm;

			header {
				margin: 12px 4px;
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	section#learning-circles {
		.overview {
			#stats {
				.stacked-numbers {
					flex-direction: column;
				}
			}
		}
	}
}

.chart {
  position: absolute;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}

svg .outer.red {
  stroke: $p2pu-orange;
}

svg .outer.blue {
  stroke: $p2pu-blue;
}

svg .outer.yellow {
  stroke: $p2pu-yellow;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 1445;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  -moz-transform: rotate(-89deg) translateX(-190px);
}

#definition {
	.outer {
	  stroke-dashoffset: 1445;
	  -webkit-animation-play-state: paused;
	}

	&.play-animation {
		.chart[data-percent='75'] .outer {
		  stroke-dashoffset: 723;
		  -webkit-animation: show75 2s;
		  animation: show75 2s;
		}

		.chart[data-percent='50'] .outer {
		  stroke-dashoffset: 550;
		  -webkit-animation: show50 2s;
		  animation: show50 2s;
		}

		.chart[data-percent='25'] .outer {
		  stroke-dashoffset: 500;
		  -webkit-animation: show25 2s;
		  animation: show25 2s;
		}
	}
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 1445;
  }

  to {
    stroke-dashoffset: 723;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 1445;
  }

  to {
    stroke-dashoffset: 723;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 1445;
  }

  to {
    stroke-dashoffset: 550;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 1445;
  }

  to {
    stroke-dashoffset: 550;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 1445;
  }

  to {
    stroke-dashoffset: 500;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 1445;
  }

  to {
    stroke-dashoffset: 500;
  }
}
