
.splash {
	height: 755px;
	background: transparent;
	width: 100%;
	overflow: hidden;
	position: relative;

	.background {
		background-color: rgba(81, 86, 101, 0.85);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	#video {
		position: absolute;
		bottom: -100px;
		right: 0px;
		min-width: 100%;
		min-height: 100%;
		max-height: 4000%;
		max-width: 4000%;
		width: auto;
		height: auto;
		z-index: -1000;
		overflow: hidden;
	}

	.banner {
		position: relative;
		z-index: 1;
		padding-bottom: 20px;
		height: 664px;

		header {
			color: #FFFFFF;
			text-align: center;
			float: none;
			padding: 50px 0;
			h1 {
				font-weight: 700;
			}
		}

		img {
			width: 700px;
			float: right;
		}

		p {
			position: absolute;
			color: #FFFFFF;
			font-family: 'Open Sans' helvetica sans-serif;
			text-transform: uppercase;
			font-size: 24px;
			bottom: 11%;
			left: 0;
			line-height: 1.3;
		}
	}
}

nav {
	padding-top: 20px;

	.nav > li {
		& > a {
			color: #ffffff;
			text-transform: uppercase;
			font-family: 'Open Sans' Helvetica, sans-serif;
			font-size: 17px;

			&:hover, &:focus {
				background-color: transparent;
				color: #d3d8e6;
			}
		}
	}
}

.page-content {

	section {
		padding: 1.5em;
	}

	p {
		font-size: 1.1em;
	}

	h1 {
		margin-bottom: 40px;
		position: relative;

		&:before {
			content: "";
			border-bottom: 2px dotted grey;
			position: absolute;
			bottom: -20px;
			width: 40%;
		}

	}

	.services {
		.service {
			text-align: center;
			margin: 20px 0;

			p{
				height: 70px;
			}
		}
	}
}

.feature-icon{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #707782;
	margin: 10px auto;
}

.call-to-action {
	position: relative;
	display: block;
	padding: 20px;
	color: #FFFFFF;
	background-color: #707782;
	margin: 50px 0;

	h2 {
		margin: 0;
	}

	&:hover {
		color: #FFFFFF;
		text-decoration: none;
	}

	&:before {
		content: "";
		width: 20%;
		height: 100%;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4KCjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM6c29kaXBvZGk9Imh0dHA6Ly9zb2RpcG9kaS5zb3VyY2Vmb3JnZS5uZXQvRFREL3NvZGlwb2RpLTAuZHRkIgogICB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIKICAgdmVyc2lvbj0iMS4xIgogICBpZD0iTGF5ZXJfMSIKICAgeD0iMHB4IgogICB5PSIwcHgiCiAgIHdpZHRoPSIxMDBweCIKICAgaGVpZ2h0PSIxMDBweCIKICAgdmlld0JveD0iMCAwIDEwMCAxMDAiCiAgIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwMCAxMDAiCiAgIHhtbDpzcGFjZT0icHJlc2VydmUiCiAgIGlua3NjYXBlOnZlcnNpb249IjAuNDguMy4xIHI5ODg2IgogICBzb2RpcG9kaTpkb2NuYW1lPSJjdGEtb3ZlcmxheS5zdmciPjxtZXRhZGF0YQogICBpZD0ibWV0YWRhdGE0MTIxIj48cmRmOlJERj48Y2M6V29yawogICAgICAgcmRmOmFib3V0PSIiPjxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PjxkYzp0eXBlCiAgICAgICAgIHJkZjpyZXNvdXJjZT0iaHR0cDovL3B1cmwub3JnL2RjL2RjbWl0eXBlL1N0aWxsSW1hZ2UiIC8+PGRjOnRpdGxlPjwvZGM6dGl0bGU+PC9jYzpXb3JrPjwvcmRmOlJERj48L21ldGFkYXRhPjxkZWZzCiAgIGlkPSJkZWZzNDExOSIgLz48c29kaXBvZGk6bmFtZWR2aWV3CiAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIKICAgYm9yZGVyY29sb3I9IiM2NjY2NjYiCiAgIGJvcmRlcm9wYWNpdHk9IjEiCiAgIG9iamVjdHRvbGVyYW5jZT0iMTAiCiAgIGdyaWR0b2xlcmFuY2U9IjEwIgogICBndWlkZXRvbGVyYW5jZT0iMTAiCiAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIgogICBpbmtzY2FwZTpwYWdlc2hhZG93PSIyIgogICBpbmtzY2FwZTp3aW5kb3ctd2lkdGg9IjE4NTUiCiAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9IjEwNTYiCiAgIGlkPSJuYW1lZHZpZXc0MTE3IgogICBzaG93Z3JpZD0iZmFsc2UiCiAgIGlua3NjYXBlOnpvb209IjIuMzYiCiAgIGlua3NjYXBlOmN4PSItMjQuNTc2MjcxIgogICBpbmtzY2FwZTpjeT0iNTAiCiAgIGlua3NjYXBlOndpbmRvdy14PSI2NSIKICAgaW5rc2NhcGU6d2luZG93LXk9IjI0IgogICBpbmtzY2FwZTp3aW5kb3ctbWF4aW1pemVkPSIxIgogICBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJMYXllcl8xIiAvPgo8cmVjdAogICB4PSItMC40NjMiCiAgIGZpbGw9IiNGRkZGRkYiCiAgIHdpZHRoPSIxMDAuOTI1IgogICBoZWlnaHQ9IjEwMCIKICAgaWQ9InJlY3Q0MTA3IgogICBpbmtzY2FwZTpleHBvcnQtZmlsZW5hbWU9Ii9ob21lL2VyaWthL0Rlc2t0b3AvY3RhLW92ZXJsYXkucG5nIgogICBpbmtzY2FwZTpleHBvcnQteGRwaT0iNjUuOTg4OTQ1IgogICBpbmtzY2FwZTpleHBvcnQteWRwaT0iNjUuOTg4OTQ1IiAvPgo8ZwogICBpZD0iZzQxMDkiCiAgIGlua3NjYXBlOmV4cG9ydC1maWxlbmFtZT0iL2hvbWUvZXJpa2EvRGVza3RvcC9jdGEtb3ZlcmxheS5wbmciCiAgIGlua3NjYXBlOmV4cG9ydC14ZHBpPSI2NS45ODg5NDUiCiAgIGlua3NjYXBlOmV4cG9ydC15ZHBpPSI2NS45ODg5NDUiPgoJPHBvbHlnb24KICAgZmlsbD0ibm9uZSIKICAgcG9pbnRzPSI3Ni4zNDIsNDkuNjkzIDc2LjM0LDQ5LjY5MSA3Ni4xODUsNDkuODYzICAiCiAgIGlkPSJwb2x5Z29uNDExMSIgLz4KCTxwb2x5Z29uCiAgIGZpbGw9IiMwMDhCQzQiCiAgIHBvaW50cz0iNzYuMTg1LDQ5Ljg2MyAzMC42MDIsMCAtMC40NjMsMCAtMC40NjMsMTAwIDMwLjA4MiwxMDAgICIKICAgaWQ9InBvbHlnb240MTEzIgogICBzdHlsZT0iZmlsbDojNzA3NzgyO2ZpbGwtb3BhY2l0eToxIiAvPgoJPHBvbHlnb24KICAgZmlsbD0iIzI2MjYyOCIKICAgcG9pbnRzPSI5MS4xNjcsNDkuNjkzIDQ0LjkwNywxMDAgMTAwLjQ2MywxMDAgMTAwLjQ2MywwIDQ1LjQyNywwICAiCiAgIGlkPSJwb2x5Z29uNDExNSIKICAgc3R5bGU9ImZpbGw6IzUxNTY2NTtmaWxsLW9wYWNpdHk6MSIgLz4KPC9nPgo8L3N2Zz4=);
		position: absolute;
		width: 75px;
		top: 0;
		right: 14%;
		z-index: 2;
		background-size: cover;
	}

	&:after {
		content: "";
		width: 20%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		background: url(../images/icons/atom.png) 80% center no-repeat #515665;
	}
}

.partners {
	padding: 50px 0;
	background-color: #F3F4F8;
}

.p2pu-footer{
	margin-top: 0;
}



