main {
	margin-top: 60px;

	section {
		padding: $padding-md;
	}

	header {
		@include flex-column-centered;
	  margin-bottom: $padding-sm;

	  .subtitle {
	  	text-align: center;
	  }
	}

  .header-text {
		text-align: center;

    h1 {
	    margin-bottom: 1em;
	    line-height: normal;
	    font-size: 2em;
    }
  }

  .image-container {
		@include flex-column-centered;
    margin-top: 3em;

		.image {
			flex-grow: 1;
		  max-width: 680px;

		  img {
		  	width: 100%;
		  	height: auto;
		  }
		}

		.bg-line {
			height: 14px;
			transition: width 1s ease-in-out;
			width: 0;
			background-color: $p2pu-blue;
	    position: absolute;
	    z-index: -1;

	    &.expand {
	    	width: 100vw;
	    }
		}
  }

	section#landing {
		display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center;
		min-height: 90vh;
		padding: $padding-sm 0;
	}

	section#learning-circles {
		.overview {
			margin-bottom: $padding-sm;

      .container {
      	display: flex;

				#stats {
					flex-grow: 1;

					.card {
						@include flex-column-centered;

						h4 {
							padding: $padding-sm 0;
						}

						.material-icons {
							font-size: 5em;
							cursor: default;
						}

						.stat {
							text-align: center;

							.number {
								font-weight: bold;
							}

							.text {
								margin-left: 6px;
							}
						}

						p {
							text-align: center;
						}

						&:nth-of-type(4n+1) {
			        .material-icons {
			          color: $p2pu-green;
			        }
				    }

				    &:nth-of-type(4n+2) {
			        .material-icons {
			          color: $p2pu-yellow;
			        }
				    }

				    &:nth-of-type(4n+3) {
			        .material-icons {
			          color: $p2pu-orange;
			        }
				    }
					}
				}
      }
		}
	}

	section#upcoming-meetings {
    padding: 0;
    background-color: $gray-lighter;

    .preview-container {
    	padding: $padding-sm 0;
    	display: flex;
			width: 100%;


    	.meetings-section {
		    padding-left: $padding-sm;
		    padding-right: $padding-sm;
		    padding-top: $padding-sm;

	    	.meetings {
	    		.meeting-card {
	    			.content {
							.date {
								color: $p2pu-blue;
								text-transform: uppercase;
						    font-size: $font-size-small;
						    display: flex;
						    align-items: center;
						    margin-bottom: $padding-xs;

						    p {
						    	margin-bottom: 0;
						    }

						    i {
						    	margin-right: 6px;
						    }
							}

							.info {
								color: $gray-darker;

								.title {
									font-size: bold;
								}

								.location {
									font-size: $font-size-small;
								}

								.bold {
						    	font-weight: bold
						    }
							}
	    			}
	    		}
	    	}
    	}
    }
	}

	section#call-to-action {
		margin-bottom: $padding-lg;
		padding: 0;

		.background-image {
			background: url('../images/cta_bg.jpg') no-repeat center center;
			background-size: cover;
			padding: $padding-md;
		}

		.block {
			display: flex;
			justify-content: center;
			margin-top: $padding-sm;
			margin-bottom: $padding-sm;
		}

		.circle {
			padding: $padding-md;
			border-radius: 999px;
			background-color: $white;
			height: 90vw;
			width: 90vw;
			max-height: 300px;
	    max-width: 300px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
		  transition: box-shadow 0.4s ease-in-out;

			&.create {
				box-shadow: 0px 0px 0px 0px $p2pu-yellow;

				&:hover {
					box-shadow: 0px 0px 0px 10px $p2pu-yellow;
				}

				i.material-icons {
					color: $p2pu-yellow;
				}
			}

			&.join {
				box-shadow: 0px 0px 0px 0px $p2pu-green;

				&:hover {
					box-shadow: 0px 0px 0px 10px $p2pu-green;
				}

				i.material-icons {
					color: $p2pu-green;
				}
			}

			.content {
				text-align: center;

				p {
					padding-top: $padding-xs;
					padding-bottom: $padding-xs;
				}

				i.material-icons {
					font-size: 4em;
				}
			}
		}
	}

	#testimonials {
		margin-bottom: $padding-md;

		.slide-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		.slide {
			display: flex;
			justify-content: center;
			align-content: flex-start;
			width: 680px;
			margin: 6px;

			&:focus {
				outline: none;
			}

			.slick-slide:not(.slick-current) {
				cursor: pointer;
			}

			.testimonial-card {
				transition: all 0.4s ease-in-out;
				transform: scale(0.8);
				background: $gray-lighter;
				border-radius: 20px;
				box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.1);
				display: flex;
				flex-direction: column;
				padding: $padding-md;
				z-index: 0;

				.quote {
					margin: $padding-sm;
				}

				.attribution {
					display: flex;
					align-items: center;
			    justify-content: center;

					.image {
						height: 100px;
						width: 100px;
						margin-right: $padding-sm;

						img {
							border-radius: 50%;
							height: 100%;
							width: 100%;
						}
					}

					.text {
						.name {
							font-weight: 700;
							padding-bottom: 6px;
						}

						.organization {
							font-size: $font-size-small;
						}
					}
				}
			}

			&.slick-current.slick-active.slick-center {
				.testimonial-card {
					transform: scale(1);
					background: white;
					z-index: 1;
				}
			}
		}
	}

	section#about {
		color: $white;

		.header-text {
			h1 {
				margin-bottom: $padding-xs;
			}

			p.large {
				margin-bottom: $padding-md;
			}
		}

		.columns {
			margin-right: 0;
			margin-left: 0;
			display: flex;
	    align-items: stretch;

			.column {
				margin-bottom: $padding-md;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;

				p {
					padding-bottom: $padding-xs;
				}
			}
		}
	}

	section#partners-and-funders {
		.partners {
			> div {
				text-align: center;
				margin-bottom: $padding-sm;
			}
		}

		.funders {
	    padding: $padding-md;

	    .funder {
	    	display: flex;
	    	align-items: center;
	    	justify-content: center;

		    img {
		    	max-width: 200px;
		    	filter: grayscale(1);
		    }
	    }
		}
	}

	> div.full-width-image {
		height: 90vh;
		min-height: 250px;
		width: 100%;

		&.header {
			background: url('../images/header.jpg') no-repeat center center;
			background-size: cover;
		}

		&.finance {
			background: url('../images/finance_for_everyone.jpg') no-repeat center center;
			background-size: cover;
		}

		&.about {
			background: url('../images/about.jpg') no-repeat center center;
			background-size: cover;
		}
	}
}

.join-cta {
	@include flex-column-centered;
	padding: $padding-sm;
}

.background-yellow {
	background-color: $p2pu-yellow;
}

.background-green {
	background-color: $p2pu-green;
}

.background-blue {
	background-color: $p2pu-blue;
}

.background-orange {
	background-color: $p2pu-orange;
}

.background-dark {
	background-color: $gray-darker;
}

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

@media (max-width: $screen-sm-max) {
	body {
		font-size: $font-size-base-mobile;
	}

	main {
		section {
			padding: 4px;

			header {
				margin: 12px 4px;
			}
		}

		.full-width-image {
			height: auto;
			min-height: 50vh;
			width: auto;
		}

		section#landing {
			.secondary-nav {
				.nav-item {
					&:nth-of-type(1) {
						.line {
							&.expanded {
								width: 10vw;
							}
						}
					}

					&:nth-of-type(2) {
						.line {
							&.expanded {
								width: 20vw;
							}
						}
					}

					&:nth-of-type(3) {
						.line {
							&.expanded {
								width: 30vw;
							}
						}
					}

					&:nth-of-type(4) {
						.line {
							&.expanded {
								width: 40vw;
							}
						}
					}
				}
			}
		}

		section#learning-circles {
			.overview {
				margin-top: $padding-sm;
				flex-direction: column;

				.container {
					flex-direction: column;

					#stats {
						.card {
							margin-bottom: $padding-sm;

							h4 {
								padding: 0;
							}
						}
					}
				}
			}
		}

		#preview {
			.preview-container {
				flex-direction: column;
			}
		}

		#testimonials {
			.slide {
				width: 95vw;

				.testimonial-card {
					padding: 10px;

					.attribution {
						flex-direction: column;
						text-align: center;

						.image {
							margin-right: 0;
						}
					}
				}
			}
		}

		section#partners-and-funders {
			.funders {
				padding: $padding-sm;
				.funder {
					img {
						max-width: 160px;
					}
				}
			}
		}
	}

	.hidden-on-mobile {
		display: none !important;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	main {
		section {
			padding: $padding-sm;

			header {
				margin: 12px 4px;
			}
		}
	}
}

@media (max-width: $screen-xs) {
	section#learning-circles {
		.overview {
			#stats {
				.stacked-numbers {
					flex-direction: column;
				}
			}
		}
	}

	main {
		.header-text {
			h1 {
				font-size: 1.8em;
			}
		}
	}
}

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; }
}

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; }
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

