@import 'bootstrap/scss/mixins/_breakpoints';

@import "p2pu-theme/src/scss/cards/learning-circles-card";
@import "layout-elements/dot-block";

.dot-quad{
	h4{
		margin-bottom: 0;
	}
}

#faqModal{
	.modal-header{
		border-bottom: none;
	}
	.modal-content{
		border-radius: 0;
	}
	#accordionFAQ{
		.accordion-item {
			border-left: 4px solid $p2pu-green;
			.accordion-button{
				@include media-breakpoint-up(md) {
					font-size: $h5-font-size;
				}
				&:after{
					font-family: 'Material Icons';
					font-size: 2rem;
					line-height: 1;
					content: "add";
					color: $p2pu-green;
					width: unset;
					height: unset;
					background-image: none;
					background-repeat: no-repeat;
					background-size: unset;
					transition: transform 0.2s ease-in-out;
				}
				&:not(.collapsed){
					&:after{
						content: "remove";
					}
				}
			}
		}
	}
}

