footer.home-footer {
  background: $gray-darker;
  color: $white;

  a {
    color: $white;
  }

  .columns-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .column-item {
      flex-basis: 33%;
      min-width: 200px;
      padding: $padding-md;

      .footer-section {
        padding-top: $padding-sm;
      }
    }
  }

  .social {
    > div {
      margin-bottom: 10px;
    }

    span {
      i {
        margin-right: $padding-sm;
        width: 14px;
      }
    }
  }

  .toc {
    text-align: center;
    padding: $padding-sm;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input[type="text"] {
      border: none;
      background: none;
      border-bottom: 2px solid $white;
      width: 100%;
      margin-bottom: $padding-sm;

      &::placeholder {
        font-style: italic;
        color: $gray-lighter;
        text-align: center;
      }
    }
  }
}