nav {
  z-index: 999;
  font-family: $headings-font-family;

  .menu {
    cursor: pointer;

    i {
      margin-right: 12px;
    }
  }

  .logo {
    img {
      height: 1em;
    }
  }

  &.nav-collapsed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
  }
}