@import 'bootstrap/scss/mixins/_breakpoints';

.profile {
  right: 0;
  top: 0;
  height: 100%;
  position: absolute;

  .card {
    &:hover {
      box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.10);
    }

    .profile-image {
      width: 90px;

      .img-container {
        background: $gray-dark;
        border-radius: 50%;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        overflow: hidden;
        padding-top: 100%;
        position: relative;
        width: 100%;

        img {
          bottom: 0;
          height: 100%;
          left: 0;
          -o-object-fit: cover;
          object-fit: cover;
          position: absolute;
          top: 0;
          width: 100%;

          &.default-avatar {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.card {
  &:nth-of-type(4n+1) {
    .profile {
      .profile-image {
        .img-container {
          background: $p2pu-green;
        }
      }
    }
  }

  &:nth-of-type(4n+2) {
    .profile {
      .profile-image {
        .img-container {
          background: $p2pu-yellow;
        }
      }
    }
  }

  &:nth-of-type(4n+3) {
    .profile {
      .profile-image {
        .img-container {
          background: $p2pu-orange;
        }
      }
    }
  }

  &:nth-of-type(4n+4) {
    .profile {
      .profile-image {
        .img-container {
          background: $p2pu-blue;
        }
      }
    }
  }
}

.arrows {
  position: relative;
  height: 30px;
}

.slick-arrow {

  &.slick-prev {
    left: 0;

    &:before {
      color: $p2pu-blue;
    }
  }

  &.slick-next {
    right: 0;

    &:before {
      color: $p2pu-blue;
    }
  }
}