section.page-title {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: $padding-md;
  padding-bottom: $padding-md;

  header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;

    h1 {
      font-size: 4em;
      color: $gray-light;
    }
  }
}

.search-container {
  display: flex;
  flex-direction: column;

  .search-bar {
    background-color: $p2pu-blue;
    display: flex;
    padding: $padding-sm;

    i.material-icons {
      position: absolute;
      padding-top: 10px;
      padding-left: 10px;
    }

    input.search-input {
      flex-grow: 1;
      border-radius: 2em;
      margin-right: $padding-sm;
      padding-left: $padding-md;
      padding-right: $padding-sm;
      border: none;

      &::placeholder {
        font-style: italic;
      }
    }
  }

  .filters-bar {
    display: flex;

    .slider {
      display: flex;
      flex-grow: 1;

      .filter {
        font-weight: bold;
        flex-grow: 1;
        background-color: $gray-lighter;
        color: $gray-darker;
        text-transform: uppercase;
        cursor: pointer;
        padding: $padding-sm;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
        border-radius: 4px;

        i.material-icons {
          color: $p2pu-blue;
          font-weight: bold;
          margin-left: $padding-sm;
          font-size: 1em;
        }

        &.active {
          background-color: $white;
        }
      }
    }
  }

  .filter-form-dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    &.open {
      padding: $padding-lg;
      max-height: 250px;
      overflow: scroll;
    }
  }
}

.search-results {

  .result-item {
    position: relative;
    display: flex;
    justify-content: center;
    padding: $padding-sm 10px;
    margin-bottom: $padding-sm;

    .card {
      position: absolute;
      background: $p2pu-orange;
      padding: $padding-sm;
      text-align: center;
      color: #fff;
      cursor: pointer;
      box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      font-size: $font-size-small;
      left: 50%;
      transform: translateX(-50%);

      .title {
        text-transform: uppercase;
      }
    }

    .image-container {
      width: 100%;
      height: auto;
      margin-top: 40px;
      max-height: 300px;
      overflow: hidden;

      .image {
        min-height: 200px;
        background: $p2pu-light-orange;

        img {
          width: 100%;
        }
      }
    }

    &:nth-of-type(4n+1) {
      .card {
        background: $p2pu-orange;
      }

      .image-container > .image {
        background: $p2pu-light-orange;
      }
    }

    &:nth-of-type(4n+2) {
      .card {
        background: $p2pu-blue;
      }

      .image-container > .image {
        background: $p2pu-light-blue;
      }
    }

    &:nth-of-type(4n+3) {
      .card {
        background: $p2pu-green;
      }

      .image-container > .image {
        background: $p2pu-light-green;
      }
    }

    &:nth-of-type(4n+4) {
      .card {
        background: $p2pu-yellow;
      }

      .image-container > .image {
        background: $p2pu-light-yellow;
      }
    }

    .show-on-hover {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
    }

    &:hover, &:focus {
      .show-on-hover {
        max-height: 200px;
      }

      .card {
        z-index: 10;
        left: 50%;
        transform: scale(1.1) translateX(-45%);
      }
    }
  }
}

.result-item.start-learning-circle {
  align-items: center;

  p {
    padding: 20px 0 12px 0;
  }

  .circle {
    @include flex-column-centered;
    height: 200px;
    width: 200px;
    background: $p2pu-light-blue;
    border-radius: 50%;
    text-align: center;
    padding: $padding-sm;
    color: $gray-darker;
  }
}

.load-more {
  text-align: center;
  padding: $padding-md;
  cursor: pointer;
}

header {
  @include flex-column-centered;
  margin: $padding-sm;

  .subtitle {
    text-align: center;
  }
}

.select-with-label {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: left;

  .city-select {
    flex-grow: 1;
  }
}