.search-fields{
  form{
    padding: 1rem 1.5rem 1.5rem !important;
    .form-select{
      max-width: 74px;
      display: inline-block;
    }
    .search-input{
      line-height: 2.2rem;
    }
    .current-location{
      margin-bottom: 1.5rem;
      display: inline-block;
      vertical-align: middle;
      @media (min-width: map-get($grid-breakpoints, "md")) {
        position: absolute;
        left: 200px;
        top: 100%;
        margin-top: .5rem;
        margin-bottom: 0;
      }
      span{
        display: inline-block;
        vertical-align: middle;
      }
    }
    &.filter{
      margin-bottom: 1.5rem;
      .input-group-md{
        position: relative;
        >span{
          padding: 0 $padding-sm;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}
#search{
  .react-tabs__tab-list {
    border-bottom: 1px solid $gray-dark;
    margin: 0 0 10px;
    padding: 0;
    .react-tabs__tab {
      padding: 5px 0;
      margin-right: 25px;
      display: inline-block;
      border: 0;
      border-bottom: none;
      bottom: 0;
      position: relative;
      cursor: pointer;
      span{
        font-weight: $font-weight-semibold;
        font-size: $font-size-xsm;
        color: $gray-dark;
        text-transform: uppercase;
      }
    }
    .react-tabs__tab--selected {
      border: none;
      border-radius: 0;
      border-bottom: 5px solid $p2pu-orange;
      color: inherit;
      background: transparent;
    }
  }
}
