//TODO: nix?

div#search {
  section.subheader{
    .card{
      .icon{
        position: relative;
        &:before{
          content: "";
          background-color: $p2pu-blue;
          position: absolute;
          width: 80%;	
          height: 80%;
          top: 10%;
          left: 10%;
          border-radius: 50%;
        }
        img{
          position: relative;
          max-height: 100%;
          max-width: 100%;
        }
      }
      &:nth-of-type(2){
        :before{
          background-color: $p2pu-green;
        }
      }
      &:nth-of-type(3){
        :before{
          background-color: $p2pu-yellow;
        }
      }
      &:nth-of-type(4){
        :before{
          background-color: $p2pu-orange;
        }
      }
    }
  }
}








section.page-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 20px;

  header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
  }

  #search-subtitle {
    margin: 0 auto;

    p.centered.large {
      padding-bottom: 0;
    }
  }

  p.centered.large {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
    padding-bottom: $padding-sm;
  }
}

#team-title {
  margin-bottom: $padding-sm;

  p.centered.large {
    margin-bottom: 0;

    span.team-name {
      text-transform: uppercase;
      font-weight: bold;
      font-family: $headings-font-family;
      color: $p2pu-orange;
    }
  }

  p.centered.small {
    a {
      color: $gray;

      &:hover {
        color: $p2pu-orange;
      }
    }
  }
}

.alternate-cta {
  background: $p2pu-light-blue;
  padding: $padding-md;
  margin-top: $padding-sm;

  .divider {
    border-bottom: 1px dashed $gray-dark;
    margin-top: $padding-sm;
    margin-bottom: $padding-sm;
  }

  .add-course, .create-course {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    p {
      margin-bottom: 0;
      margin-right: $padding-xs;
    }

    a {
      margin: $padding-xs 0;

      &:hover {
        text-decoration: none;
      }
    }

    .p2pu-btn {
      font-size: 0.8em;
      display: flex;

      i.material-icons {
        font-size: 18px;
        padding-right: $padding-xs;
      }
    }
  }
}

.modal-dialog {
  max-width: 900px;
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
  section.page-title {
    header {
      h1 {
        font-size: 2em;
      }
    }
  }

  .alternate-cta {
    padding: $padding-sm;
  }

  .hidden-on-mobile {
    display: none !important;
  }
}
