@import 'bootstrap/scss/mixins/_breakpoints';

@import "p2pu-theme/src/scss/cards/generic-card";
@import "p2pu-theme/src/scss/cards/testimonials-card";
@import "layout-elements/slider";

#teams{

  .header-wrap{
    background-color: $p2pu-light-blue;
    overflow: hidden;
  } 
  .card.generic.plain{
    .card-image{
      height: 250px;
    }
  } 
  
  // fix in page anchor
  [id]::before {
    content: '';
    display: block;
    height: 160px;
    margin-top: -160px;
    visibility: hidden;
  }
}
