#team-intro {
  border-bottom: 1px solid $gray-lighter;
}

.team-image {
  position: absolute;
  padding-right: 30px;
}

.team-logo {
  position: absolute;
  bottom: -30px;
  padding: 5px;
  box-shadow: -4px 4px 15px rgba(0,0,0,.15);
  background: white;
}

.hidden {
  display: none;
}

#faq {
  .faq-container {
    &:nth-of-type(4n+1) {
      .question {
        border-bottom: 4px solid $p2pu-yellow;
      }
    }

    &:nth-of-type(4n+2) {
      .question {
        border-bottom: 4px solid $p2pu-blue;
      }
    }

    &:nth-of-type(4n+3) {
      .question {
        border-bottom: 4px solid $p2pu-orange;
      }
    }

    &:nth-of-type(4n+4) {
      .question {
        border-bottom: 4px solid $p2pu-green;
      }
    }
  }

  .question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-family: "Open Sans";
      font-size: 1.25rem;
    }
  }

  .answer {
    margin: 15px 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
}

.Collapsible {
  .trigger-header {
    background-color: $gray-darker;
    transition: all 0.4s linear;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-lighter;
    cursor: pointer;

    h2 {
      margin: 0;
      color: $white;
      font-weight: 400;
      font-size: 1.25rem;
      transition: all 0.4s linear;
    }
  }
  .is-open {
    .trigger-header {
      background-color: $gray-lighter;
      border-bottom: 1px solid $gray-darker;

      h2 {
        color: $gray-darker;
      }
    }
  }

  .Collapsible__contentInner {
    border-bottom: 1px solid $gray-darker;
  }

  .contact {
    i {
      width: 20px;
      margin-right: 20px;
    }
  }
}

.profile {
  right: 0;
  top: 0;
  height: 100%;

  .card {
    &:hover {
      box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.10);
    }

    .profile-image {
      width: 90px;

      .img-container {
        background: $gray-lighter;
        border-radius: 50%;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        overflow: hidden;
        padding-top: 100%;
        position: relative;
        width: 100%;

        img {
          bottom: 0;
          height: 100%;
          left: 0;
          -o-object-fit: cover;
          object-fit: cover;
          position: absolute;
          top: 0;
          width: 100%;
        }

      }
    }
  }
}

.slick-arrow {

  &.slick-prev {
    left: 0;
    top: unset;
    bottom: -3rem;

    &:before {
      color: $p2pu-blue;
    }
  }

  &.slick-next {
    right: 0;
    top: unset;
    bottom: -3rem;

    &:before {
      color: $p2pu-blue;
    }
  }
}
