<h3>Buttons</h3>
<section id="buttons2">
	<h4>buttons</h4>
	<div>
		<button type="button" class="btn p2pu-btn orange">Button Text</button>
		<button type="button" class="btn p2pu-btn blue">Button Text</button>
		<button type="button" class="btn p2pu-btn green">Button Text</button>
		<button type="button" class="btn p2pu-btn gray">Button Text</button>
	</div>
	<div>
		<button type="button" class="btn p2pu-btn secondary orange">Button Text</button>
		<button type="button" class="btn p2pu-btn secondary blue">Button Text</button>
		<button type="button" class="btn p2pu-btn secondary green">Button Text</button>
		<button type="button" class="btn p2pu-btn secondary gray">Button Text</button>
	</div>
	<div>
		<button type="button" class="btn p2pu-btn btn-sm orange">Button Text</button>
		<button type="button" class="btn p2pu-btn btn-sm blue">Button Text</button>
		<button type="button" class="btn p2pu-btn btn-sm green">Button Text</button>
		<button type="button" class="btn p2pu-btn btn-sm gray">Button Text</button>
	</div>
	<div>
		<button type="button" class="btn p2pu-btn btn-sm secondary orange">Button Text</button>
		<button type="button" class="btn p2pu-btn btn-sm secondary blue">Button Text</button>
		<button type="button" class="btn p2pu-btn btn-sm secondary green">Button Text</button>
		<button type="button" class="btn p2pu-btn btn-sm secondary gray">Button Text</button>
	</div>
</section>