<h3 class="text-uppercase">colors</h3>
<section class="row" id="brand-colors">
	<h4>Brand Colors</h4>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-yellow">
			<span class="sg-animated">
				<span>#FFBD1A</span>
				<span>.bg-yellow</span>
				<span>.text-yellow</span>
				<span>$p2pu-yellow</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-green">
			<span class="sg-animated">
				<span>#B7D600</span>
				<span>.bg-green</span>
				<span>.text-green</span>
				<span>$p2pu-green</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-blue">
			<span class="sg-animated">
				<span>#05C7B4</span>
				<span>.bg-blue</span>
				<span>.text-blue</span>
				<span>$p2pu-blue</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-orange">
			<span class="sg-animated">
				<span>#FF7300</span>
				<span>.bg-orange</span>
				<span>.text-orange</span>
				<span>$p2pu-orange</span>
			</span>
		</span>
	</div>
</section><!--/.brand-colors-->


<section class="row" id="neutral-colors">
	<h4>Neutral Colors</h4>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-black">
			<span class="sg-animated">
				<span>#000</span>
				<span>.bg-black</span>
				<span>.text-black</span>
				<span>$black</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-dark">
			<span class="sg-animated">
				<span>#323231</span>
				<span>.bg-dark</span>
				<span>.text-dark</span>
				<span>$gray-dark</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-gray">
			<span class="sg-animated">
				<span>#646462</span>
				<span>.bg-gray</span>
				<span>.text-gray</span>
				<span>$gray</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-light">
			<span class="sg-animated">
				<span>#E2E1DD</span>
				<span>.bg-light</span>
				<span>.text-light</span>
				<span>$gray-light</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-lighter">
			<span class="sg-animated">
				<span>#F2F1EB</span>
				<span>.bg-lighter</span>
				<span>.text-lighter</span>
				<span>$gray-snow</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-cream-dark">
			<span class="sg-animated">
				<span>#F7F6F1</span>
				<span>.bg-cream-dark</span>
				<span>.text-cream-dark</span>
				<span>$cream-dark</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-cream">
			<span class="sg-animated">
				<span>#FCFBF6</span>
				<span>.bg-cream</span>
				<span>.text-cream</span>
				<span>$cream</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-white">
			<span class="sg-animated">
				<span>#FFF</span>
				<span>.bg-white</span>
				<span>.text-white</span>
				<span>$white</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-transparent">
			<span class="sg-animated">
				<span>-</span>
				<span>.bg-transparent</span>
				<span>.text-transparent</span>
				<span>$transparent</span>
			</span>
		</span>
	</div>
</section><!--/.neutral-colors-->

<section class="row" id="alert-colors">
	<h4>Alert Colors</h4>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-red-error">
			<span class="sg-animated">
				<span>#FF7300</span>
				<span>.bg-red-error</span>
				<span>.text-red-error</span>
				<span>$red-error</span>
			</span>
		</span>
	</div>
	<div class="sg-color sg-lg">
		<span class="sg-color-swatch bg-pink-error">
			<span class="sg-animated">
				<span>#FF7300</span>
				<span>.bg-pink-error</span>
				<span>.text-pink-error</span>
				<span>$pink-error</span>
			</span>
		</span>
	</div>
</section><!--/.alert-colors-->