<h4>Course Cards</h4>
<div class="card course horizontal in-progress">
  <div class="status-tag">in progress</div>
  <div class="row g-0">
    <div class="col-12 col-md-6 col-xl-7">
    <div class="card-header">
      <h3 class="card-title">Course Title</h3>
      <div class="lowbrow row">
      <div class="stars mb-2 false col-12 col-md-auto">
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star_half</i>
      </div>
      <div class="col-12 col-md-auto">21 ratings | Used in 14 learning circles</div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor fringilla mollis. Vestibulum ornare tellus vitae ligula iaculis sodales. Maecenas ut malesuada elit, a dignissim augue. Morbi hendrerit lectus vel quam porttitor, eu finibus turpis bibendum. </p>
    </div>
    </div>
    <footer class="card-footer col-12 col-md-6 col-xl-5">
    <div class="table-responsive">
      <table class="table">
      <tbody>
        <tr class="topics">
        <th scope="row">Topics</th>
        <td class="topics-list">
          <a class="topic" href="">antiracism</a>, 
          <a class="topic" href="">social justice</a>,
          <a class="topic" href="">discrimination</a>
        </td>
        </tr>
        <tr class="keywords">
        <th scope="row">Keywords</th>
        <td class="keywords-list">
          <span class="term">antiracism</span>,
          <span class="term">social justice</span>,
          <span class="term">discrimination</span> 
        </td>
        </tr>
        <tr class="provider">
        <th scope="row">Provider</th>
        <td>Inkscape</td>
        </tr>
        <tr class="platform">
        <th scope="row">Platform</th>
        <td colspan="2">
          <a href="http://youtube.com" target="_blank">YouTube</a>
        </td>
        </tr>
        <tr class="website">
         <th scope="row">Website</th>
        <td colspan="2">
          <a href="http://google.com" target="_blank">Google</a>
        </td>
        </tr>
        <tr class="platform">
        <th scope="row">Access</th>
        <td colspan="2">always available</td>
        </tr>
      </tbody>
      </table>
    </div>	
    <div class="row justify-content-center justify-content-md-end">
      <a target="_blank" href="https://learningcircles.p2pu.org/en/course/893/" class="btn p2pu-btn btn-sm secondary gray col-sm-auto m-2">More details</a>
      <a href="#" class="btn p2pu-btn btn-sm gray col-sm-auto m-2">Use this course</a>
    </div>

    </footer>
  </div>
</div>