<h3>Dot Quad</h3>
<section>
	<div class="row text-center text-md-start dot-quad">
		<div class="col-12 col-md-3">
			<div class="icon col-8 col-md-12 mx-auto">
				<img src="{{ site.baseurl }}/assets/images/dev/whipley.png" />
			</div>
			<h3 class="fs-4">No expert required</h3>
			<p>Facilitators support participants learning together, answering questions and sharing one another's' goals.</p>
		</div>
		
		<div class="col-12 col-md-3">
			<div class="icon col-8 col-md-12 mx-auto">
				<img src="{{ site.baseurl }}/assets/images/dev/whipley.png" />
			</div>
			<h3 class="fs-4">Explore any topic.</h3>
			<p>From job skills to civic action to passion projects: [use courses found freely on the internet, explore [the community;our guides], or create your own course.]</p>
		</div>
		
		<div class="col-12 col-md-3">
			<div class="icon col-8 col-md-12 mx-auto">
				<img src="{{ site.baseurl }}/assets/images/dev/whipley.png" />
			</div>
			<h3>Learn better together.</h3>
			<p>Learning with others deepens understanding and builds relationships rooted in shared interests.</p>
		</div>
		
		<div class="col-12 col-md-3">
			<div class="icon col-8 col-md-12 mx-auto">
				<img src="{{ site.baseurl }}/assets/images/dev/whipley.png" />
			</div>
			<h3>Access for all.</h3>
			<p>Bringing high-quality learning to public spaces like libraries lowers the barriers of education and creates space for more voices to share what they know.</p>
		</div>
	</div>
</section>