<h3>Form Controls</h3>
<section id="inputs">
	<h3>Inputs</h3>
	<form class="bg-white p-4 mb-3">
		<label for="search-input" class="form-label">Search</label>
		<div class="input-group">
			<input id="search-input" type="search" class="form-control search-input" placeholder="Keyword, organization, facilitator, etc..." aria-label="Recipient's username" aria-describedby="basic-addon2" required>
			<span class="input-group-text" id="basic-addon2"><i class="material-icons">search</i></span>
		</div>
	</form>
	<form class="bg-white p-4 mb-3">
		<input type="text" class="form-control" placeholder="Text input">
	</form>
	<form class="search-form bg-white p-4 mb-3">
		<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
	</form>
	<form class="bg-white p-4 mb-3">
		<textarea class="form-control" rows="3" placeholder="text area"></textarea>
	</form>
</section>
<section id="checkboxes">
	<h3>Checkboxes</h3>
	<div class="checkbox">
	  <label>
		<input type="checkbox" value="">
		Option one is this and that—be sure to include why it's great
	  </label>
	</div>
	
	<div class="radio">
	  <label>
		<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
		Option one is this and that—be sure to include why it's great
	  </label>
	</div>
	<div class="radio">
	  <label>
		<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
		Option two can be something else and selecting it will deselect option one
	  </label>
	</div>
	<h3>Inline checkboxes</h3>
	<label class="checkbox-inline">
	  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
	</label>
	<label class="checkbox-inline">
	  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
	</label>
	<label class="checkbox-inline">
	  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
	</label>
	<select class="form-control">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
	
	<select multiple="" class="form-control">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
</section>