<h4>Generic Cards</h4>
<div class="row grid">
	<div class="grid-item col-md-6 col-lg-4">
	  <div class="card generic cover-link">
	  	<a href="http://google.com" target="_blank"></a>
		<div class="card-image">
		  <img src="{{ site.baseurl }}/assets/images/p2pu-ogimg-default.jpg" alt="P2PU Monthly Facilitator Call" class="card-img-top">
		</div>
		<div class="card-header">
		  <h4 class="card-title">google</h4>
		  <span>Learn how to paint for free online</span>
		</div>
	  </div>
	</div>
</div>