* {
    box-sizing: border-box;
}

#handbook-nav.affix {
    position: fixed;
    top:6px;
}

#lc-container {
    max-width: 760px;
    padding: 0 24px 0 24px;
    color: #515665;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.8;
    position:relative;
    margin:0 auto;
}


@media screen and (max-width: 1030px) {
#lc-container {
    margin-top:60px;
    padding: 0 24px 0 164px;
}
}


@media screen and (max-width: 992px) {
#lc-container {
    margin-top:60px;
}
#handbook-nav{
    top:370px;
}
}

@media screen and (max-width: 540px) {
#lc-container {
    margin-top:250px;
    padding: 0 16px;
}
}

#lc-container p {
    padding-bottom: 14px;
}
#lc-container ul {
    margin: 0;
    padding: 0 0 15px 32px;
}
#lc-container ul.sublist {
    list-style-type: circle;
    margin: 0;
    padding: 0 0 15px 64px;
}
#lc-container h1, h2, h3, h4, h5, h6 {
    color: #fc7100;
    font-family: Arvo,sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
#lc-container h1 {
    font-size: 44px;
    line-height: 1.2;
    padding: 48px 0 30px;
}
#lc-container h2 {
    font-size: 32px;
    padding-top: 28px;
}
#lc-container h3 {
    font-size: 24px;
    padding-top: 20px;
}
#lc-container h4 {
    color: #515665;
    font-family: Arvo,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 12px 0 0;
    text-transform: uppercase;
}
#lc-container h6 {
    font-family: Arvo,sans-serif;
    font-size: 17px;
    margin: 15px 0 0;
}
#lc-container h6 span {
    background-color: #78b60b;
    color: #fff;
    padding: 1px 2px;
}
#lc-container a {
    font-weight: 700;
    transition: all 0.15s ease !important;
}
#lc-container a:link, #lc-container a:visited {
    color: #04b0aa;
}
#lc-container a:hover {
    background-color: #04b0aa;
    color: #fff;
}
#lc-container .template {
    color: #78b60b;
    padding-left: 15px;
}
#lc-container .bold {
    font-weight: 700;
}
#lc-container .caps {
    text-transform: uppercase;
}
#lc-container .list-below {
    margin-bottom: -8px;
}
#lc-container .green-heading {
    color: #78b60b;
}
#lc-container .teal {
    color: #04b0aa;
}
#lc-container .green {
    color: #78b60b;
}
#lc-container .space-top {
    padding-top: 15px;
}
#lc-container .list-below {
    margin-bottom: -14px;
}

#lc-container .teal-highlights{
    background-color:#04b0aa;;
    padding:1px 2px;
    color:#ffffff;
}

/*Jumbotron*/
.jumbotron-conf {
    height:320px;
    width:100%;
    background-color:#fdbc1f;
    margin-top:-60px;
   margin-bottom:48px;
   background-image:url("../images/facilitate/header.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    position:relative;
}

@media screen and (max-width: 992px) {
.jumbotron-conf {
    margin-top:0px;
}
}


.jumbotron-center{
    margin:0 auto;
    max-width:760px;
    padding:60px 270px 0 24px;
}

@media screen and (max-width: 625px) {
    .jumbotron-center{
        padding:1em;
    }
}

.jumbotron-subtitle{
    color:#fff;
    font-size:32px;
    font-family: Arvo,sans-serif;
    font-weight:700;
    line-height:1.6;
    display:block;
}

.jumbotron-title{
    color:#df5c20;
    font-size:50px;
    font-family: Arvo,sans-serif;
    line-height:1;
    font-weight:700;
    display:block;
}

.jumbotron-button {
    color:#ffffff;
    text-transform:uppercase;
    padding:15px; 
    border-radius:8px;
    border-color:#ffffff;
    border-style:solid;
    border-width:2px;
    display:inline-block;
    margin-bottom:45px;
}

@media screen and (max-width: 625px) {
.jumbotron-conf {
   background-image:url("../images/facilitate/header-faded.jpg");
}
}


/* Call to action*/

#lc-container a.call-to-action:link, #lc-container a.call-to-action:visited {
    padding:15px; 
    background-color:#04b0aa;
     border-radius:8px;
     color:#ffffff;
display:inline-block;
margin-bottom:45px;
    
}

/*Quotes*/
.quote-container{
    max-width:100%
}
.quote-left, .quote-right{
    display:inline-block;
    font-size:12px;
    font-style:italic;
    background-color:#ddd;
    border-radius:8px;
    padding:12px;
    max-width:47%;
    vertical-align:top;
    margin:0 15px 15px 0;
    min-width:288px;
}

.quote-question{
    font-size:16px;
    font-style:italic;
    background-color:#ddd;
    border-radius:8px;
    padding:4px 8px;
    margin:36px 0  16px;
    font-weight:700;
    display:inline-block;
}

/*Navigation*/

#handbook-nav{
    position: absolute;
    top:354px;
    left:16px;
    z-index:1000;
}

#handbook-nav ul{
padding: 0 0 15px 0;
font-size:16px;
}

#handbook-nav li > a{
transition:all 0.15s linear 0s;
font-weight:700;
}

#handbook-nav li > a:focus, #handbook-nav li > a:hover{
background-color:#fdbc1f;
}


@media screen and (max-width: 992px) {
#handbook-nav{
    top:370px;
}
}

#handbook-nav-mobile{
display:none;
}

@media screen and (max-width: 540px) {
#handbook-nav-mobile{
    display:block;
    position: absolute;
    top:333px;
    left:0;
}
#handbook-nav-mobile ul{
font-size:16px;
}
#handbook-nav-mobile li > a {
    padding:4px 15px;
    transition:all 0.15s linear 0s;
    font-weight:700;
}
#handbook-nav{
    display:none;
}

#handbook-nav-mobile li > a:focus, #handbook-nav-mobile li > a:hover{
background-color:#fdbc1f;
}
}



/* Images*/
.background-image, .starting-image, .running-image, .downloads-image, .sample-circle {
    max-width:100%;
}


/*Downloads*/

a.downloads-links { 
padding:15px 0 25px 50px;
position:relative;
display:block;
}

a.downloads-links:before { 
    font-family: FontAwesome;
    content: "\f019";
    font-size:26px;
    position:absolute;
    top:2px;
    left:15px;
}

a.downloads-links:last-of-type { 
margin-bottom:90px;
}

/*Meta footer color fix*/
.col-md-4.col-md-offset-1 > h4{
    color:#fcfcfc;
}



/*Software icons*/
.hpicon{
    padding: 0 4px;
    font-size:17px;
}

p.highlightp { 
    position:relative;
    margin-left:40px;
}

p.highlightp:before { 
    font-family: FontAwesome;
    content: "\f108";
    font-size:24px;
    position:absolute;
    top:-7px;
    left:-37px;
    color: #04b0aa;
}
