* {
    box-sizing: border-box;
}
#container {
    max-width: 860px;
    padding: 0 24px 0 164px;
    color: #515665;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.8;
    position:relative;
    margin:0 auto;
}

@media screen and (max-width: 992px) {
#container {
    margin-top:60px;
}
}

@media screen and (max-width: 540px) {
#container {
    margin-top:250px;
    padding: 0 16px;
}
}

#container p {
    padding-bottom: 14px;
}
#container ul {
    margin: 0;
    padding: 0 0 15px 32px;
}
#container ul.sublist {
    list-style-type: circle;
    margin: 0;
    padding: 0 0 15px 64px;
}
#container h1, h2, h3, h4, h5, h6 {
    color: #fc7100;
    font-family: Arvo,sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
#container h1 {
    font-size: 44px;
    line-height: 1.2;
    padding: 48px 0 30px;
}
#container h2 {
    font-size: 32px;
    padding-top: 28px;
}
#container h3 {
    font-size: 24px;
    padding-top: 20px;
}
#container h4 {
    color: #515665;
    font-family: Arvo,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 12px 0 0;
    text-transform: uppercase;
}
#container h6 {
    font-family: Arvo,sans-serif;
    font-size: 17px;
    margin: 15px 0 0;
}
#container h6 span {
    background-color: #78b60b;
    color: #fff;
    padding: 1px 2px;
}
#container a {
    font-weight: 700;
    transition: all 0.15s ease !important;
}
#container a:link, a:visited {
    color: #04b0aa;
}
#container a:hover {
    background-color: #04b0aa;
    color: #fff;
}
#container .template {
    color: #78b60b;
    padding-left: 15px;
}
#container .bold {
    font-weight: 700;
}
#container .caps {
    text-transform: uppercase;
}
#container .list-below {
    margin-bottom: -8px;
}
#container .green-heading {
    color: #78b60b;
}
#container .teal {
    color: #04b0aa;
}
#container .green {
    color: #78b60b;
}
#container .space-top {
    padding-top: 15px;
}
#container .list-below {
    margin-bottom: -14px;
}


/*Jumbotron*/
.jumbotron-conf {
    height:320px;
    width:100%;
    background-color:#fdbc1f;
    margin-top:-60px;
   margin-bottom:48px;
   background-image:url("http://i.imgur.com/pAD5DqS.jpg");
       background-repeat: no-repeat;
    background-position: right bottom;
}

@media screen and (max-width: 992px) {
.jumbotron-conf {
    margin-top:0px;
}
}

.jumbotron-center{
    margin:0 auto;
    max-width:860px;
    padding:0 24px 0 24px;
}

.jumbotron-subtitle{
    color:#fff;
    font-size:15px;
    font-family:Arvo;
}

.jumbotron-title{
    color:#df5c20;
    font-size:15px;
    font-family:Arvo;
}





/*Navigation*/

#handbook-nav{
    position: absolute;
    top:-5px;
    left:4px;
}

#handbook-nav ul{
padding: 0 0 15px 0;
font-size:16px;
}

@media screen and (max-width: 540px) {
#handbook-nav{
    position: absolute;
    top:-215px;
    left:0;
}
#handbook-nav li > a {
    padding:5px 15px;
}
}

/* Images*/
.background-image, .starting-image, .running-image, .downloads-image, .sample-circle {
    max-width:100%;
}


/*Downloads*/

a.downloads-links { 
padding:15px 0 25px 50px;
position:relative;
display:block;
}

a.downloads-links:before { 
    font-family: FontAwesome;
    content: "\f019";
    font-size:26px;
    position:absolute;
    top:2px;
    left:15px;
}

a.downloads-links:last-of-type { 
margin-bottom:90px;
}
