
// Clearing mysterious margin on btn group
.btn-toolbar {
	margin-left: 0 !important;
	> .btn, > .btn-group, .input-group{
		&:first-child{
			margin-left: 0 !important;
		}
	}
}

.p2pu-btn {
  border-radius: 2em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: $font-family-sans-serif-bold;
  padding: 0.8em 2em;

  &.dark {
    background: $gray-darker;
    color: $white;
  }

  &.light {
    background: $white;
    color: $gray-darker;
  }

  &.arrow {
    padding: 0.7em 1em;
    font-size: 1em;
  }

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}