---
title: Learning Circles
layout: base
---
 {% include handbook_nav.html %}

<div class="handbook">
  <div class="jumbotron-conf">
    <div class="jumbotron-center">
      <span class="jumbotron-subtitle">Learning Circles</span>
      <span class="jumbotron-title">Facilitator Handbook</span>
      <br>
      <!--<a class="jumbotron-button" href="https://learningcircles.p2pu.org/en/facilitator/study_group/create/" target="_blank">Create a Learning Circle Now</a>-->
    </div>

   

  </div>

  {{ content }}

</div>
