---
layout: base
---
<div class="post">
  <header class="splash learning-circles">
	  <div class="background"></div>
		  <div class="banner">
			  <div class="container">
				  <div class="actions col-md-6 col-md-offset-6">
								<header>
									<h1>{{ page.title }}</h1>
								</header>
							  <p class="subheader">
								  Learning Circles are lightly-facilitated study groups for learners who want to take online courses together at their local library.
								  <br />Learning Circles are:
							  </p>
							  <ul class="subheader-list">
								  <li>Peer-supported</li>
								  <li>Facilitated by a non-content expert</li>
								  <li>Hosted in a publicly-accessible space</li>
								  <li>Designed to be taken with few prerequisites</li>
								  <li>Free</li>
							  </ul>
                <a class="btn btn-lg btn-cta col-md-12" data-toggle="modal" data-target="#signup-modal">Get involved</a>
					  </div>

			  </div>
		  </div>
  </header>
	{% include signup.html %}
  <article class="post-content container push-footer">
	  <div class="sidebar col-md-3 hidden-sm hidden-xs">
		  <nav data-spy="affix" data-offset-top="650" data-offset-bottom="520">
			  <ul class="nav nav-pills nav-stacked">
				  {% for item in page.sidenav %}
					  <li><a href="#{{ item.link }}"><i class="fa fa-angle-double-right"></i>
						  &nbsp; {{ item.title }}</a></li>
				  {% endfor %}
			  </ul>
		  </nav>
	  </div>
	  <div class="col-md-9">
		  {{ content }}
	  </div>
  </article>

</div>

