---
layout: base
---
<div class="post">
  <header class="splash learning-circles">
	  <div class="background"></div>
		  <div class="banner">
			  <div class="container">
				  <div class="actions col-md-7">
								<header>
									<h1>{{ page.title }}</h1>
								</header>
							  <p class="subheader">
								  The Learning Circles model brings together learners in open community spaces to take online
								  courses together. <br />Learning Circles are:
							  </p>
							  <ul class="subheader-list">
								  <li>Peer-supported</li>
								  <li>Facilitated by a non-content expert</li>
								  <li>Hosted in a publicly-accessible space</li>
								  <li>Designed to be taken with few prerequisites</li>
								  <li>Free</li>
							  </ul>
					  </div>
				  <div class="banner-graphic col-md-5 col-sm-4 col-xs-12">
					  <p class="text-center">
						  <div class="cta-icon">
						    <i class="fa fa-users fa-5x"></i>
					    </div>
					    <div class="text-center">
								<a class="btn btn-lg btn-cta" href="#get-involved">Join a Learning Circle</a>
					    </div>
				    </p>
				  </div>
			  </div>
		  </div>
  </header>

  <article class="post-content container push-footer">
	  <div class="sidebar col-md-3">
		  <nav data-spy="affix" data-offset-top="600" data-offset-bottom="520">
			  <ul class="nav nav-pills nav-stacked">
				  {% for item in page.sidenav %}
					  <li><a href="#{{ item.link }}"><i class="fa fa-angle-double-right"></i>
						  &nbsp; {{ item.title }}</a></li>
				  {% endfor %}
			  </ul>
		  </nav>
	  </div>
	  <div class="col-md-9">
		  {{ content }}
	  </div>
  </article>

</div>

