---
title: Search
layout: base
extra_css:
  - /assets/css/p2pu-search.css
---

<div>
  <section class="page-title container">
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    <div id="search-subtitle">
      <p className="centered large">Learning circles are study groups for people who want to take online classes together and in-person. Sign up below for a learning circle in your area, or <a href="https://www.p2pu.org/en/facilitate/">create your own</a>!</p>
    </div>
  </section>
   {{ content }}
</div>
