---
layout: base
extra_css:
  - /assets/css/p2pu-team.css
  - /assets/css/p2pu-search.css
  - /assets/css/vendor/slick.css
  - /assets/css/vendor/slick-theme.css
extra_js:
  - js/vendor/rellax.min.js
  - js/vendor/slick.min.js
  - js/team.js
bundles:
  - search
---

{% assign team = site.data.teams.items | where: "page_slug", page.slug | first %}

<div>
  <section id="team-intro" class="bg-pattern-dark">
    <div class="pt-5">
      <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-10 col-sm-12 order-2 order-lg-1 mt-md-5 mt-lg-0">
              <div class="header-image pos-relative">
                {% if team.image_url %}
                  <div class="img-circle rellax" data-rellax-speed="4">
                    <img src="{{ team.image_url }}" class="img-fluid" />
                  </div>
                {% else if team.coordinates %}
                  <div class="img-circle rellax" data-rellax-speed="4">
                    <img class="img-fluid" src="https://api.mapbox.com/styles/v1/mapbox/light-v9/static/{{ team.coordinates.longitude }},{{ team.coordinates.latitude }},{{ team.zoom }},0,0/800x200?access_token={{ site.mapbox_access_token }}&logo=false" />
                  </div>
                {% endif %}

                {% if team.logo_url %}
                <div class="team-logo rellax" data-rellax-speed="8">
                  <img src="{{ team.logo_url }}" alt="{{ team.name }} logo" class="img-fluid">
                </div>
                {% endif %}

              </div>
            </div>

            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
              <div class="header-text">
                <div class="rellax" data-rellax-speed="-2">
                  <div class="minicaps text-left text-white bold">
                    Learning circles hosted by
                  </div>
                  <h1 class='mb-3 text-white'>{{ team.name }}</h1>
                  {% if team.location %}
                  <p class='card-text text-white'>Join your neighbors at the library to learn something together. Learning circles meet weekly at a variety of locations across {{ team.location }} for 6-8 weeks, and are free to join.</p>
                  {% else %}
                  <p class='card-text text-white'>Join your neighbors at the library to learn something together. Learning circles meet weekly in person for 6-8 weeks, and are free to join.</p>
                  {% endif %}
                  <div class='info'>
                    {% if team.email_address.size > 0 %}
                    <div class="text-xs d-flex align-items-center mb-2 text-white">
                      <i class="material-icons pr-2">email</i>
                      <p class="mb-0"><a href="mailto:{{team.email_address}}" class="text-white">{{team.email_address}}</a></p>
                    </div>
                    {% endif %}

                    {% if team.website.size > 0 %}
                    <div class="text-xs d-flex align-items-center mb-2 text-white">
                      <i class="material-icons pr-2">launch</i>
                      <p class="mb-0"><a target="_blank" rel="noopener noreferrer" href="{{team.website}}" class="text-white">{{team.website}}</a></p>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="row mt-5 justify-content-center">
          {% if team.intro_text.size > 0 %}
          <div class="col-lg-6 col-md-12 text-white">
            <div class="rellax" data-rellax-speed="-1">
              <h2 class="mb-3">About Us</h2>
              <p class='card-text text-white'>{{ team.intro_text}}</p>
            </div>
          </div>
          {% endif %}

          <div class="col-lg-6 d-none d-lg-flex">
            <div class="circle-1 rellax" data-rellax-speed="-3"></div>
            <div class="circle-2 rellax" data-rellax-speed="2"></div>

            {% assign facilitators = team.facilitators | sort: 'bio' | reverse %}
            {% for facilitator in facilitators %}
                <div class="card-container">
                  <div class="card">
                    <div class="card-header">
                      <p class="minicaps text-center mb-0 text-muted">{{ facilitator.role }}</p>
                    </div>
                    <div class="card-img-top">
                      {% if facilitator.avatar_url %}
                      <img class="img-fluid card-img" src="{{ facilitator.avatar_url }}" alt="Facilitator image">
                      {% else %}
                      <img class="img-fluid card-img" src="{{ site.baseurl }}/assets/images/default_avatar.png" />
                      {% endif %}
                    </div>
                    <div class="card-body">

                      <div class="profile-info text-center">
                        <h4 class="my-1">{{ facilitator.first_name }}</h4>
                      </div>

                    </div>
                  </div>
                </div>
            {% endfor %}

            <div class="arrows pos-relative d-flex justify-content-center"></div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="search" class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-3">Find a learning circle near you</h2>
          <div id="search-subtitle">
            <p class="large mb-4">For more information, <a href="/en/learning-circles-faq">check out the FAQ</a>.</p>
          </div>
          <div id="search-lc-component" data-team-id={{ team.id }}></div>
        </div>
      </div>
    </div>
  </section>
</div>

